
#widget-chat #chat-circle {
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #5A5EB9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    padding: 30px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
}

#widget-chat #chat-circle i{
    /*margin-right: 5px;*/
    font-size: 24px;
}

#widget-chat #chat-overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}


#widget-chat .chat-box {
    display: none;
    z-index: 888;
    background: #efefef;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
}

#widget-chat .chat-box-toggle {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

#widget-chat .chat-box-header {
    background: #5A5EB9;
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
}

#widget-chat .chat-box-body {
    position: relative;
    height: 45vh;
    border: 1px solid #ccc;
    overflow: auto;
}

#widget-chat .chat-box-body:after {
    content: "";
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAgOCkiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGNpcmNsZSBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIgY3g9IjE3NiIgY3k9IjEyIiByPSI0Ii8+PHBhdGggZD0iTTIwLjUuNWwyMyAxMW0tMjkgODRsLTMuNzkgMTAuMzc3TTI3LjAzNyAxMzEuNGw1Ljg5OCAyLjIwMy0zLjQ2IDUuOTQ3IDYuMDcyIDIuMzkyLTMuOTMzIDUuNzU4bTEyOC43MzMgMzUuMzdsLjY5My05LjMxNiAxMC4yOTIuMDUyLjQxNi05LjIyMiA5LjI3NC4zMzJNLjUgNDguNXM2LjEzMSA2LjQxMyA2Ljg0NyAxNC44MDVjLjcxNSA4LjM5My0yLjUyIDE0LjgwNi0yLjUyIDE0LjgwNk0xMjQuNTU1IDkwcy03LjQ0NCAwLTEzLjY3IDYuMTkyYy02LjIyNyA2LjE5Mi00LjgzOCAxMi4wMTItNC44MzggMTIuMDEybTIuMjQgNjguNjI2cy00LjAyNi05LjAyNS0xOC4xNDUtOS4wMjUtMTguMTQ1IDUuNy0xOC4xNDUgNS43IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTg1LjcxNiAzNi4xNDZsNS4yNDMtOS41MjFoMTEuMDkzbDUuNDE2IDkuNTIxLTUuNDEgOS4xODVIOTAuOTUzbC01LjIzNy05LjE4NXptNjMuOTA5IDE1LjQ3OWgxMC43NXYxMC43NWgtMTAuNzV6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjcxLjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjE3MC41IiBjeT0iOTUuNSIgcj0iMS41Ii8+PGNpcmNsZSBmaWxsPSIjMDAwIiBjeD0iODEuNSIgY3k9IjEzNC41IiByPSIxLjUiLz48Y2lyY2xlIGZpbGw9IiMwMDAiIGN4PSIxMy41IiBjeT0iMjMuNSIgcj0iMS41Ii8+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTkzIDcxaDN2M2gtM3ptMzMgODRoM3YzaC0zem0tODUgMThoM3YzaC0zeiIvPjxwYXRoIGQ9Ik0zOS4zODQgNTEuMTIybDUuNzU4LTQuNDU0IDYuNDUzIDQuMjA1LTIuMjk0IDcuMzYzaC03Ljc5bC0yLjEyNy03LjExNHpNMTMwLjE5NSA0LjAzbDEzLjgzIDUuMDYyLTEwLjA5IDcuMDQ4LTMuNzQtMTIuMTF6bS04MyA5NWwxNC44MyA1LjQyOS0xMC44MiA3LjU1Ny00LjAxLTEyLjk4N3pNNS4yMTMgMTYxLjQ5NWwxMS4zMjggMjAuODk3TDIuMjY1IDE4MGwyLjk0OC0xOC41MDV6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIvPjxwYXRoIGQ9Ik0xNDkuMDUgMTI3LjQ2OHMtLjUxIDIuMTgzLjk5NSAzLjM2NmMxLjU2IDEuMjI2IDguNjQyLTEuODk1IDMuOTY3LTcuNzg1LTIuMzY3LTIuNDc3LTYuNS0zLjIyNi05LjMzIDAtNS4yMDggNS45MzYgMCAxNy41MSAxMS42MSAxMy43MyAxMi40NTgtNi4yNTcgNS42MzMtMjEuNjU2LTUuMDczLTIyLjY1NC02LjYwMi0uNjA2LTE0LjA0MyAxLjc1Ni0xNi4xNTcgMTAuMjY4LTEuNzE4IDYuOTIgMS41ODQgMTcuMzg3IDEyLjQ1IDIwLjQ3NiAxMC44NjYgMy4wOSAxOS4zMzEtNC4zMSAxOS4zMzEtNC4zMSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEuMjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvZz48L3N2Zz4=');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#widget-chat .cm-msg-text {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
}
#widget-chat #friendslist {
    top: 0;
    left: 0;
    height: 484px;
}

#widget-chat .friend {
    height: 70px;
    border-bottom: 1px solid #e7ebee;
    position: relative;
}

#widget-chat .friend:hover {
    background: #f1f4f6;
    cursor: pointer;
}

#chat-widget-navbar li {
    width: 50%;
}

#chat-widget-navbar li button{
    width: 100%;
}

#widget-chat .friend img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px;
    float: left;
}

#widget-chat .friend p {
    padding: 15px 0 0 0;
    float: left;
    width: 220px;
    margin-bottom: 0;
}

#widget-chat .friend p strong {
    font-weight: 600;
    font-size: 15px;
    color: #597a96;

}

#widget-chat .friend p span {
    font-size: 13px;
    font-weight: 400;
    color: #aab8c2;
}

#widget-chat #chatview {
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
}

#widget-chat #profile {
    height: 153px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

#widget-chat .p1 #profile {
    background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 content-box;
}

#widget-chat #profile p {
    font-weight: 600;
    font-size: 15px;
    margin: 118px 0 -1px;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#widget-chat #profile p.animate {
    margin-top: 97px;
    opacity: 1;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#widget-chat #profile span {
    font-weight: 400;
    font-size: 11px;
}

#widget-chat #chat-messages {
    opacity: 0;
    margin-top: 30px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#widget-chat #chat-messages.animate {
    opacity: 1;
    margin-top: 0;
}

#widget-chat #chat-messages label {
    color: #aab8c2;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
    width: 290px;
    display: block;
}

#widget-chat #chat-messages div.message {
    padding: 0 0 30px 58px;
    clear: both;
    margin-bottom: 45px;
}

#widget-chat #chat-messages div.message.right {
    padding: 0 58px 30px 0;
    margin-right: -19px;
    margin-left: 19px;
}

#widget-chat #chat-messages .message img {
    float: left;
    margin-left: -38px;
    border-radius: 50%;
    width: 30px;
    margin-top: 12px;
}

#widget-chat #chat-messages div.message.right img {
    float: right;
    margin-left: 0;
    margin-right: -38px;
}

#widget-chat .message .bubble {
    background: #f0f4f7;
    font-weight: 600;
    padding: 12px 13px;
    border-radius: 5px 5px 5px 0px;
    color: #8495a3;
    position: relative;
    float: left;
}

#widget-chat #chat-messages div.message.right .bubble {
    float: right;
    border-radius: 5px 5px 0px 5px;
}

#widget-chat .bubble .corner {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
    position: absolute;
    width: 7px;
    height: 7px;
    left: -5px;
    bottom: 0;
}

#widget-chat div.message.right .corner {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
    left: auto;
    right: -5px;
}

#widget-chat .bubble span {
    color: #aab8c2;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: -22px;
}

#widget-chat #sendmessage {
    height: 60px;
    border-top: 1px solid #e7ebee;
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 100%;
    background: #fff;
}

#widget-chat #sendmessage input {
    background: #fff;
    margin: 21px 0 0 21px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #aab8c2;
    width: 73%;
}

#widget-chat #sendmessage input:focus {
    outline: 0;
}

#widget-chat #sendmessage button {
    background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 23px;
    border: none;
}

#widget-chat #sendmessage button:hover {
    cursor: pointer;
    background-position: 0 0;
}

#widget-chat #sendmessage button:focus {
    outline: 0;
}

#widget-chat #close {
    position: absolute;
    top: 8px;
    opacity: 0.8;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#widget-chat #close:hover {
    opacity: 1;
}

#widget-chat #chatview, #widget-chat #sendmessage {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    bottom: 0;
}

#widget-chat .badge-light {
    background-color: #f8f9fa;
}


#widget-chat .color-blue {
    color: #5A5EB9;
}

:root {
    --secon-1: rgba(69, 195, 210, 1);
    --white: rgba(255, 255, 255, 1);
    --white-light: rgba(243, 243, 243, 1);
    --light: rgba(234, 234, 234, 1);
    --grey-light: rgba(214, 214, 214, 1);
    --grey-medium: rgba(191, 191, 191, 1);
    --grey: rgba(169, 169, 169, 1);
    --grey-dark: rgba(146, 146, 146, 1);
    --grey-balck: rgba(66, 66, 66, 1);
    --black: rgba(0, 0, 0, 1);
    --pri-1: rgba(16, 153, 149, 1);
    --heading-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --heading-1-extra-font-weight: 800;
    --heading-1-extra-font-size: 64px;
    --heading-1-extra-letter-spacing: 0px;
    --heading-1-extra-line-height: normal;
    --heading-1-extra-font-style: normal;
    --heading-2-regular-font-family: "Mulish-Regular", Helvetica;
    --heading-2-regular-font-weight: 400;
    --heading-2-regular-font-size: 64px;
    --heading-2-regular-letter-spacing: 0px;
    --heading-2-regular-line-height: normal;
    --heading-2-regular-font-style: normal;
    --heading-3-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --heading-3-extra-font-weight: 800;
    --heading-3-extra-font-size: 48px;
    --heading-3-extra-letter-spacing: 0px;
    --heading-3-extra-line-height: normal;
    --heading-3-extra-font-style: normal;
    --heading-4-regular-font-family: "Mulish-Regular", Helvetica;
    --heading-4-regular-font-weight: 400;
    --heading-4-regular-font-size: 48px;
    --heading-4-regular-letter-spacing: 0px;
    --heading-4-regular-line-height: normal;
    --heading-4-regular-font-style: normal;
    --title-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --title-1-extra-font-weight: 800;
    --title-1-extra-font-size: 32px;
    --title-1-extra-letter-spacing: 0px;
    --title-1-extra-line-height: normal;
    --title-1-extra-font-style: normal;
    --title-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --title-2-semi-font-weight: 600;
    --title-2-semi-font-size: 32px;
    --title-2-semi-letter-spacing: 0px;
    --title-2-semi-line-height: normal;
    --title-2-semi-font-style: normal;
    --title-3-regular-font-family: "Mulish-Regular", Helvetica;
    --title-3-regular-font-weight: 400;
    --title-3-regular-font-size: 32px;
    --title-3-regular-letter-spacing: 0px;
    --title-3-regular-line-height: normal;
    --title-3-regular-font-style: normal;
    --subtitle-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --subtitle-1-extra-font-weight: 800;
    --subtitle-1-extra-font-size: 24px;
    --subtitle-1-extra-letter-spacing: 0px;
    --subtitle-1-extra-line-height: normal;
    --subtitle-1-extra-font-style: normal;
    --subtitle-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --subtitle-2-semi-font-weight: 600;
    --subtitle-2-semi-font-size: 24px;
    --subtitle-2-semi-letter-spacing: 0px;
    --subtitle-2-semi-line-height: normal;
    --subtitle-2-semi-font-style: normal;
    --subtitle-3-regular-font-family: "Mulish-Regular", Helvetica;
    --subtitle-3-regular-font-weight: 400;
    --subtitle-3-regular-font-size: 24px;
    --subtitle-3-regular-letter-spacing: 0px;
    --subtitle-3-regular-line-height: normal;
    --subtitle-3-regular-font-style: normal;
    --body-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --body-1-extra-font-weight: 800;
    --body-1-extra-font-size: 18px;
    --body-1-extra-letter-spacing: 0px;
    --body-1-extra-line-height: normal;
    --body-1-extra-font-style: normal;
    --body-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --body-2-semi-font-weight: 600;
    --body-2-semi-font-size: 18px;
    --body-2-semi-letter-spacing: 0px;
    --body-2-semi-line-height: normal;
    --body-2-semi-font-style: normal;
    --body-3-regular-font-family: "Mulish-Regular", Helvetica;
    --body-3-regular-font-weight: 400;
    --body-3-regular-font-size: 18px;
    --body-3-regular-letter-spacing: 0px;
    --body-3-regular-line-height: normal;
    --body-3-regular-font-style: normal;
    --body-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --body-4-extra-font-weight: 800;
    --body-4-extra-font-size: 16px;
    --body-4-extra-letter-spacing: 0px;
    --body-4-extra-line-height: normal;
    --body-4-extra-font-style: normal;
    --body-5-semi-font-family: "Mulish-SemiBold", Helvetica;
    --body-5-semi-font-weight: 600;
    --body-5-semi-font-size: 16px;
    --body-5-semi-letter-spacing: 0px;
    --body-5-semi-line-height: normal;
    --body-5-semi-font-style: normal;
    --body-6-regu-font-family: "Mulish-Regular", Helvetica;
    --body-6-regu-font-weight: 400;
    --body-6-regu-font-size: 16px;
    --body-6-regu-letter-spacing: 0px;
    --body-6-regu-line-height: normal;
    --body-6-regu-font-style: normal;
    --small-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-1-extra-font-weight: 800;
    --small-1-extra-font-size: 14px;
    --small-1-extra-letter-spacing: 0px;
    --small-1-extra-line-height: normal;
    --small-1-extra-font-style: normal;
    --small-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-2-semi-font-weight: 600;
    --small-2-semi-font-size: 14px;
    --small-2-semi-letter-spacing: 0px;
    --small-2-semi-line-height: normal;
    --small-2-semi-font-style: normal;
    --small-3-regu-font-family: "Mulish-Regular", Helvetica;
    --small-3-regu-font-weight: 400;
    --small-3-regu-font-size: 14px;
    --small-3-regu-letter-spacing: 0px;
    --small-3-regu-line-height: normal;
    --small-3-regu-font-style: normal;
    --small-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-4-extra-font-weight: 800;
    --small-4-extra-font-size: 12px;
    --small-4-extra-letter-spacing: 0px;
    --small-4-extra-line-height: normal;
    --small-4-extra-font-style: normal;
    --small-5-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-5-semi-font-weight: 600;
    --small-5-semi-font-size: 12px;
    --small-5-semi-letter-spacing: 0px;
    --small-5-semi-line-height: normal;
    --small-5-semi-font-style: normal;
    --small-6-regu-font-family: "Mulish-Regular", Helvetica;
    --small-6-regu-font-weight: 400;
    --small-6-regu-font-size: 12px;
    --small-6-regu-letter-spacing: 0px;
    --small-6-regu-line-height: normal;
    --small-6-regu-font-style: normal;
    --small-7-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-7-extra-font-weight: 800;
    --small-7-extra-font-size: 10px;
    --small-7-extra-letter-spacing: 0px;
    --small-7-extra-line-height: normal;
    --small-7-extra-font-style: normal;
    --small-8-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-8-semi-font-weight: 600;
    --small-8-semi-font-size: 10px;
    --small-8-semi-letter-spacing: 0px;
    --small-8-semi-line-height: normal;
    --small-8-semi-font-style: normal;
    --small-9-regu-font-family: "Mulish-SemiBold", Helvetica;
    --small-9-regu-font-weight: 600;
    --small-9-regu-font-size: 10px;
    --small-9-regu-letter-spacing: 0px;
    --small-9-regu-line-height: normal;
    --small-9-regu-font-style: normal;
    --body-6-regular-font-family: "Mulish-Regular", Helvetica;
    --body-6-regular-font-weight: 400;
    --body-6-regular-font-size: 16px;
    --body-6-regular-letter-spacing: 0px;
    --body-6-regular-line-height: normal;
    --body-6-regular-font-style: normal;
    --body-5-semibold-font-family: "Mulish-SemiBold", Helvetica;
    --body-5-semibold-font-weight: 600;
    --body-5-semibold-font-size: 16px;
    --body-5-semibold-letter-spacing: 0px;
    --body-5-semibold-line-height: normal;
    --body-5-semibold-font-style: normal;
}
