.frame.comment-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/*.fa-solid {*/
/*    color: gray;*/
/*}*/

.button-main {
    width: 200px;
    padding: 12px 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.frame button {
    border-radius: 8px;
    background: #45C3D2;
    color: white;
}

.frame button:hover {
    border-radius: 8px;
    background: #26737c;
}

.text-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.frame.mentoring-img {
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.frame.mentoring-img .div {
    position: relative;
    width: 370px;
    height: 276px;
}

.frame.mentoring-img .catalog {
    height: 276px;
    background-color: var(--grey-light);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--light);
}

.frame.mentoring-img .vuesax-bold-gallery {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 108px;
    left: 155px;
}

.frame.mentoring-img .rectangle {
    position: absolute;
    width: 370px;
    height: 276px;
    top: 0;
    left: 0;
    object-fit: cover;
}


.frame.comment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
}

.frame.comment-item .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame.comment-item .div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame.comment-item .div-3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame.comment-item .div-4 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.frame.comment-item .ellipse {
    position: relative;
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.frame.comment-item .text-wrapper {
    position: relative;
    width: fit-content;
    text-align: center;
}

.frame.comment-item .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.frame.comment-item .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    color: #000000;
}

.frame.comment-item .d-ch-v-c-c-t-t-l-n-u-wrapper {
    /*display: flex;*/
    /*align-items: flex-start;*/
    /*gap: 10px;*/
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame.comment-item .d-ch-v-c-c-t-t-l-n-u {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.frame.comment-item .div-5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame.comment-item .frame-wrapper {
    display: flex;
    flex-direction: column;
    /*height: 56px;*/
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 20px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 8px;
    /*border: 1px solid;*/
}

.frame.comment-item .div-6 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -12px;
    margin-bottom: -12px;
}

.frame.comment-item .img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.frame.comment-item .text-wrapper-4 {
    position: relative;
    width: 146px;
    height: 20px;
}

.frame.comment-item .text-wrapper-5 {
    display: flex;
    width: 171px;
    height: 56px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-radius: 8px;
}

.frame.comment-item .text {
    position: relative;
    width: fit-content;
    margin-left: -0.5px;
    margin-right: -0.5px;
    text-align: center;
}

.frame.comment-item .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
}
#mentoring-img img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#mentoring-img img:hover {
    opacity: 0.7;
}

/* The Modal (background) */
#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#image-viewer .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#image-viewer .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#image-viewer .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#image-viewer .close:hover,
#image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    #image-viewer .modal-content {
        width: 100%;
    }
}
