:root {
  --secon-1: rgba(69, 195, 210, 1);
  --white: rgba(255, 255, 255, 1);
  --white-light: rgba(243, 243, 243, 1);
  --light: rgba(234, 234, 234, 1);
  --grey-light: rgba(214, 214, 214, 1);
  --grey-medium: rgba(191, 191, 191, 1);
  --grey: rgba(169, 169, 169, 1);
  --grey-dark: rgba(146, 146, 146, 1);
  --grey-balck: rgba(66, 66, 66, 1);
  --black: rgba(26, 32, 44, 1);
  --heading-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --heading-1-extra-font-weight: 800;
  --heading-1-extra-font-size: 64px;
  --heading-1-extra-letter-spacing: 0px;
  --heading-1-extra-line-height: normal;
  --heading-1-extra-font-style: normal;
  --heading-2-regular-font-family: "Mulish-Regular", Helvetica;
  --heading-2-regular-font-weight: 400;
  --heading-2-regular-font-size: 64px;
  --heading-2-regular-letter-spacing: 0px;
  --heading-2-regular-line-height: normal;
  --heading-2-regular-font-style: normal;
  --heading-3-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --heading-3-extra-font-weight: 800;
  --heading-3-extra-font-size: 48px;
  --heading-3-extra-letter-spacing: 0px;
  --heading-3-extra-line-height: normal;
  --heading-3-extra-font-style: normal;
  --heading-4-regular-font-family: "Mulish-Regular", Helvetica;
  --heading-4-regular-font-weight: 400;
  --heading-4-regular-font-size: 48px;
  --heading-4-regular-letter-spacing: 0px;
  --heading-4-regular-line-height: normal;
  --heading-4-regular-font-style: normal;
  --title-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --title-1-extra-font-weight: 800;
  --title-1-extra-font-size: 32px;
  --title-1-extra-letter-spacing: 0px;
  --title-1-extra-line-height: normal;
  --title-1-extra-font-style: normal;
  --title-2-semi-font-family: "Mulish-SemiBold", Helvetica;
  --title-2-semi-font-weight: 600;
  --title-2-semi-font-size: 32px;
  --title-2-semi-letter-spacing: 0px;
  --title-2-semi-line-height: normal;
  --title-2-semi-font-style: normal;
  --title-3-regular-font-family: "Mulish-Regular", Helvetica;
  --title-3-regular-font-weight: 400;
  --title-3-regular-font-size: 32px;
  --title-3-regular-letter-spacing: 0px;
  --title-3-regular-line-height: normal;
  --title-3-regular-font-style: normal;
  --subtitle-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --subtitle-1-extra-font-weight: 800;
  --subtitle-1-extra-font-size: 24px;
  --subtitle-1-extra-letter-spacing: 0px;
  --subtitle-1-extra-line-height: normal;
  --subtitle-1-extra-font-style: normal;
  --subtitle-2-semi-font-family: "Mulish-SemiBold", Helvetica;
  --subtitle-2-semi-font-weight: 600;
  --subtitle-2-semi-font-size: 24px;
  --subtitle-2-semi-letter-spacing: 0px;
  --subtitle-2-semi-line-height: normal;
  --subtitle-2-semi-font-style: normal;
  --subtitle-3-regular-font-family: "Mulish-Regular", Helvetica;
  --subtitle-3-regular-font-weight: 400;
  --subtitle-3-regular-font-size: 24px;
  --subtitle-3-regular-letter-spacing: 0px;
  --subtitle-3-regular-line-height: normal;
  --subtitle-3-regular-font-style: normal;
  --body-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --body-1-extra-font-weight: 800;
  --body-1-extra-font-size: 18px;
  --body-1-extra-letter-spacing: 0px;
  --body-1-extra-line-height: normal;
  --body-1-extra-font-style: normal;
  --body-2-semi-font-family: "Mulish-SemiBold", Helvetica;
  --body-2-semi-font-weight: 600;
  --body-2-semi-font-size: 18px;
  --body-2-semi-letter-spacing: 0px;
  --body-2-semi-line-height: normal;
  --body-2-semi-font-style: normal;
  --body-3-regular-font-family: "Mulish-Regular", Helvetica;
  --body-3-regular-font-weight: 400;
  --body-3-regular-font-size: 18px;
  --body-3-regular-letter-spacing: 0px;
  --body-3-regular-line-height: normal;
  --body-3-regular-font-style: normal;
  --body-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --body-4-extra-font-weight: 800;
  --body-4-extra-font-size: 16px;
  --body-4-extra-letter-spacing: 0px;
  --body-4-extra-line-height: normal;
  --body-4-extra-font-style: normal;
  --body-5-semi-font-family: "Mulish-SemiBold", Helvetica;
  --body-5-semi-font-weight: 600;
  --body-5-semi-font-size: 16px;
  --body-5-semi-letter-spacing: 0px;
  --body-5-semi-line-height: normal;
  --body-5-semi-font-style: normal;
  --body-6-regu-font-family: "Mulish-Regular", Helvetica;
  --body-6-regu-font-weight: 400;
  --body-6-regu-font-size: 16px;
  --body-6-regu-letter-spacing: 0px;
  --body-6-regu-line-height: normal;
  --body-6-regu-font-style: normal;
  --small-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --small-1-extra-font-weight: 800;
  --small-1-extra-font-size: 14px;
  --small-1-extra-letter-spacing: 0px;
  --small-1-extra-line-height: normal;
  --small-1-extra-font-style: normal;
  --small-2-semi-font-family: "Mulish-SemiBold", Helvetica;
  --small-2-semi-font-weight: 600;
  --small-2-semi-font-size: 14px;
  --small-2-semi-letter-spacing: 0px;
  --small-2-semi-line-height: normal;
  --small-2-semi-font-style: normal;
  --small-3-regu-font-family: "Mulish-Regular", Helvetica;
  --small-3-regu-font-weight: 400;
  --small-3-regu-font-size: 14px;
  --small-3-regu-letter-spacing: 0px;
  --small-3-regu-line-height: normal;
  --small-3-regu-font-style: normal;
  --small-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --small-4-extra-font-weight: 800;
  --small-4-extra-font-size: 12px;
  --small-4-extra-letter-spacing: 0px;
  --small-4-extra-line-height: normal;
  --small-4-extra-font-style: normal;
  --small-5-semi-font-family: "Mulish-SemiBold", Helvetica;
  --small-5-semi-font-weight: 600;
  --small-5-semi-font-size: 12px;
  --small-5-semi-letter-spacing: 0px;
  --small-5-semi-line-height: normal;
  --small-5-semi-font-style: normal;
  --small-6-regu-font-family: "Mulish-Regular", Helvetica;
  --small-6-regu-font-weight: 400;
  --small-6-regu-font-size: 12px;
  --small-6-regu-letter-spacing: 0px;
  --small-6-regu-line-height: normal;
  --small-6-regu-font-style: normal;
  --small-7-extra-font-family: "Mulish-ExtraBold", Helvetica;
  --small-7-extra-font-weight: 800;
  --small-7-extra-font-size: 10px;
  --small-7-extra-letter-spacing: 0px;
  --small-7-extra-line-height: normal;
  --small-7-extra-font-style: normal;
  --small-8-semi-font-family: "Mulish-SemiBold", Helvetica;
  --small-8-semi-font-weight: 600;
  --small-8-semi-font-size: 10px;
  --small-8-semi-letter-spacing: 0px;
  --small-8-semi-line-height: normal;
  --small-8-semi-font-style: normal;
  --small-9-regu-font-family: "Mulish-Regular", Helvetica;
  --small-9-regu-font-weight: 400;
  --small-9-regu-font-size: 10px;
  --small-9-regu-letter-spacing: 0px;
  --small-9-regu-line-height: normal;
  --small-9-regu-font-style: normal;
  --semibold-type-16-font-family: "PlusJakarta Sans-SemiBold", Helvetica;
  --semibold-type-16-font-weight: 600;
  --semibold-type-16-font-size: 16px;
  --semibold-type-16-letter-spacing: -0.32px;
  --semibold-type-16-line-height: 150%;
  --semibold-type-16-font-style: normal;
  --medium-type-16-font-family: "PlusJakarta Sans-Medium", Helvetica;
  --medium-type-16-font-weight: 500;
  --medium-type-16-font-size: 16px;
  --medium-type-16-letter-spacing: -0.32px;
  --medium-type-16-line-height: 150%;
  --medium-type-16-font-style: normal;
  --semibold-type-20-font-family: "PlusJakarta Sans-SemiBold", Helvetica;
  --semibold-type-20-font-weight: 600;
  --semibold-type-20-font-size: 20px;
  --semibold-type-20-letter-spacing: -0.4px;
  --semibold-type-20-line-height: 150%;
  --semibold-type-20-font-style: normal;
}

.container {
  min-width: 1440px;
}

.header .header-detail {
  height: 100px;
  align-items: center;
}
.header .header-detail--left {
  align-items: end;
}
.header .header-detail--left .logo {
  height: 42px;
}
.header .header-detail--left .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .header-detail--left .back {
  font-size: 24px;
  font-weight: 800;
  color: rgb(69, 195, 210);
}
.header .header-detail--center a {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.header .header-detail--center a.active {
  text-decoration: revert;
  color: rgb(69, 195, 210);
}
.header .header-detail--center a:hover {
  text-decoration: revert;
  color: rgb(69, 195, 210);
}
.header .header-detail--right {
  align-items: center;
  justify-content: right;
}
.header .header-detail--right .option {
  width: 120px;
  height: 52px;
  background: #45C3D2;
  margin-right: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.header .header-detail--right .option a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.header .header-detail--right .user {
  width: 40px;
  height: 40px;
}
.header .header-detail--right .user img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner {
  margin-top: 100px;
  height: 280px;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recruitment-details {
  margin-top: 40px;
}
.recruitment-details--title {
  font-size: 32px;
  font-weight: 800;
}
.recruitment-details--content {
  margin: 30px 0;
}
.recruitment-details--content--left {
  width: 100%;
  height: 441px;
}
.recruitment-details--content--left .main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}
.recruitment-details--content--left img {
  border-radius: 8px;
}
.recruitment-details--content--left .list {
  overflow-x: auto;
}
.recruitment-details--content--left .list .item {
  height: 79px;
  margin-right: 16px;
}
.recruitment-details--content--left .list .item img {
  width: 140px;
  height: 100%;
  object-fit: cover;
}
.recruitment-details--content--right {
  height: fit-content;
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.recruitment-details--content--right .form-1 .div .title {
  font-size: 16px;
  font-weight: 700;
}
.recruitment-details--content--right .form-1 .div .text-wrapper {
  border: none;
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px 5px 10px;
  background: rgb(234, 234, 234);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .div-2 {
  margin: 24px 0;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgb(191, 191, 191);
  width: 100%;
}
.recruitment-details--content--right .form-1 .div-2 .image {
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.recruitment-details--content--right .form-1 .div-2 .text-wrapper-2 {
  color: #000;
  font-size: 24px;
  font-weight: 800;
}
.recruitment-details--content--right .form-1 .div-3 {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.recruitment-details--content--right .form-1 .div-3 .div-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.recruitment-details--content--right .form-1 .div-3 .div-4 .img-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 8px;
  background: rgb(69, 195, 210);
  border-radius: 37px;
}
.recruitment-details--content--right .form-1 .div-3 .div-4 .img-wrapper .img {
  width: 24px;
  height: 24px;
}
.recruitment-details--content--right .form-1 .div-3 .div-4 .div-5 .text-wrapper-3 {
  color: rgb(146, 146, 146);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.recruitment-details--content--right .form-1 .div-3 .div-4 .div-5 .text-wrapper-4 {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
}
.recruitment-details--content--right .form-1 .div-7 {
  margin-top: 24px;
}
.recruitment-details--content--right .form-1 .div-7 .div-wrapper {
  border: none;
  display: flex;
  padding: 11px 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  width: 47%;
}
.recruitment-details--content--right .form-1 .div-7 .text-wrapper-5 {
  border: none;
  padding: 11px 0;
  width: 47%;
  border-radius: 8px;
  background: var(--secon1, #45C3D2);
  color: var(--White, #FFF);
  text-align: center;
  font-size: 14px;
  font-weight: 800;
}
.recruitment-details--content--right .form-1 .product-details {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.recruitment-details--content--right .form-1 .product-details .div {
  background-color: var(--white);
  overflow: hidden;
  width: 1440px;
  height: 2352px;
  position: relative;
}
.recruitment-details--content--right .form-1 .product-details .group {
  position: absolute;
  width: 1442px;
  height: 280px;
  top: 116px;
  left: 0;
}
.recruitment-details--content--right .form-1 .product-details .overlap-group {
  position: relative;
  width: 1440px;
  height: 280px;
  background-color: #aab4c3;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper {
  position: absolute;
  width: 169px;
  height: 60px;
  top: 110px;
  left: 635px;
  font-family: var(--heading-3-extra-font-family);
  font-weight: var(--heading-3-extra-font-weight);
  color: #000000;
  font-size: var(--heading-3-extra-font-size);
  letter-spacing: var(--heading-3-extra-letter-spacing);
  line-height: var(--heading-3-extra-line-height);
  font-style: var(--heading-3-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 638px;
  left: 135px;
}
.recruitment-details--content--right .form-1 .product-details .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .rectangle {
  position: relative;
  width: 669px;
  height: 383px;
}
.recruitment-details--content--right .form-1 .product-details .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .img {
  position: relative;
  width: 140px;
  height: 79px;
}
.recruitment-details--content--right .form-1 .product-details .frame-4 {
  display: flex;
  flex-direction: column;
  width: 471px;
  align-items: flex-start;
  gap: 24px;
  padding: 16px;
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.recruitment-details--content--right .form-1 .product-details .p {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--subtitle-1-extra-font-family);
  font-weight: var(--subtitle-1-extra-font-weight);
  color: #000000;
  font-size: var(--subtitle-1-extra-font-size);
  letter-spacing: var(--subtitle-1-extra-letter-spacing);
  line-height: var(--subtitle-1-extra-line-height);
  font-style: var(--subtitle-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--title-1-extra-font-family);
  font-weight: var(--title-1-extra-font-weight);
  color: #000000;
  font-size: var(--title-1-extra-font-size);
  letter-spacing: var(--title-1-extra-letter-spacing);
  line-height: var(--title-1-extra-line-height);
  font-style: var(--title-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--subtitle-3-regular-font-family);
  font-weight: var(--subtitle-3-regular-font-weight);
  color: var(--grey-dark);
  font-size: var(--subtitle-3-regular-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-3-regular-letter-spacing);
  line-height: var(--subtitle-3-regular-line-height);
  font-style: var(--subtitle-3-regular-font-style);
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--subtitle-1-extra-font-family);
  font-weight: var(--subtitle-1-extra-font-weight);
  color: #000000;
  font-size: var(--subtitle-1-extra-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-1-extra-letter-spacing);
  line-height: var(--subtitle-1-extra-line-height);
  font-style: var(--subtitle-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-6 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 50px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--grey-light);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .product-details .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-1-extra-font-family);
  font-weight: var(--small-1-extra-font-weight);
  color: var(--grey-balck);
  font-size: var(--small-1-extra-font-size);
  text-align: center;
  letter-spacing: var(--small-1-extra-letter-spacing);
  line-height: var(--small-1-extra-line-height);
  font-style: var(--small-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 50px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--secon-1);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .product-details .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-1-extra-font-family);
  font-weight: var(--small-1-extra-font-weight);
  color: var(--white);
  font-size: var(--small-1-extra-font-size);
  text-align: center;
  letter-spacing: var(--small-1-extra-letter-spacing);
  line-height: var(--small-1-extra-line-height);
  font-style: var(--small-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .line {
  position: absolute;
  width: 1170px;
  height: 1px;
  top: 1163px;
  left: 135px;
  object-fit: cover;
}
.recruitment-details--content--right .form-1 .product-details .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 26px;
  position: absolute;
  top: 568px;
  left: 135px;
}
.recruitment-details--content--right .form-1 .product-details .img-2 {
  position: relative;
  width: 32px;
  height: 32px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-1-extra-font-family);
  font-weight: var(--title-1-extra-font-weight);
  color: #000000;
  font-size: var(--title-1-extra-font-size);
  letter-spacing: var(--title-1-extra-letter-spacing);
  line-height: var(--title-1-extra-line-height);
  font-style: var(--title-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-9 {
  display: flex;
  flex-direction: column;
  width: 1170px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 1190px;
  left: 135px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--title-1-extra-font-family);
  font-weight: var(--title-1-extra-font-weight);
  color: #000000;
  font-size: var(--title-1-extra-font-size);
  letter-spacing: var(--title-1-extra-letter-spacing);
  line-height: var(--title-1-extra-line-height);
  font-style: var(--title-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-1-extra-font-family);
  font-weight: var(--body-1-extra-font-weight);
  color: #000000;
  font-size: var(--body-1-extra-font-size);
  letter-spacing: var(--body-1-extra-letter-spacing);
  line-height: var(--body-1-extra-line-height);
  font-style: var(--body-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .thu-c-c-t-c-d-ng-gi {
  position: relative;
  align-self: stretch;
  font-family: "Mulish-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--grey-balck);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}
.recruitment-details--content--right .form-1 .product-details .frame-11 {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 29px 76px 29px 77px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.recruitment-details--content--right .form-1 .product-details .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .image {
  position: relative;
  width: 177px;
  height: 42px;
  object-fit: cover;
}
.recruitment-details--content--right .form-1 .product-details .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .chevron-down-double {
  position: relative;
  width: 24px;
  height: 24px;
}
.recruitment-details--content--right .form-1 .product-details .rercruiment {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .rercruiment-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--subtitle-1-extra-font-family);
  font-weight: var(--subtitle-1-extra-font-weight);
  color: var(--secon-1);
  font-size: var(--subtitle-1-extra-font-size);
  letter-spacing: var(--subtitle-1-extra-letter-spacing);
  line-height: var(--subtitle-1-extra-line-height);
  font-style: var(--subtitle-1-extra-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-14 {
  display: flex;
  width: 523px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.recruitment-details--content--right .form-1 .product-details .rercruiment-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-5-semi-font-family);
  font-weight: var(--body-5-semi-font-weight);
  color: var(--grey-balck);
  font-size: var(--body-5-semi-font-size);
  letter-spacing: var(--body-5-semi-letter-spacing);
  line-height: var(--body-5-semi-line-height);
  font-style: var(--body-5-semi-font-style);
}
.recruitment-details--content--right .form-1 .product-details .rercruiment-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .rercruiment-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-5-semi-font-family);
  font-weight: var(--body-5-semi-font-weight);
  color: var(--secon-1);
  font-size: var(--body-5-semi-font-size);
  letter-spacing: var(--body-5-semi-letter-spacing);
  line-height: var(--body-5-semi-line-height);
  font-style: var(--body-5-semi-font-style);
}
.recruitment-details--content--right .form-1 .product-details .line-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
}
.recruitment-details--content--right .form-1 .product-details .frame-15 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .frame-16 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.recruitment-details--content--right .form-1 .product-details .ellipse {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.recruitment-details--content--right .form-1 .product-details .frame-17 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secon-1);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-9 {
  position: relative;
  width: 88px;
  margin-top: -1px;
  font-family: var(--body-5-semi-font-family);
  font-weight: var(--body-5-semi-font-weight);
  color: var(--white);
  font-size: var(--body-5-semi-font-size);
  text-align: center;
  letter-spacing: var(--body-5-semi-letter-spacing);
  line-height: var(--body-5-semi-line-height);
  font-style: var(--body-5-semi-font-style);
}
.recruitment-details--content--right .form-1 .product-details .footer {
  position: absolute;
  width: 1440px;
  height: 480px;
  top: 1872px;
  left: 0;
  background-color: var(--grey-balck);
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-10 {
  position: absolute;
  width: 328px;
  height: 24px;
  top: 396px;
  left: 60px;
  font-family: var(--semibold-type-16-font-family);
  font-weight: var(--semibold-type-16-font-weight);
  color: var(--white);
  font-size: var(--semibold-type-16-font-size);
  letter-spacing: var(--semibold-type-16-letter-spacing);
  line-height: var(--semibold-type-16-line-height);
  font-style: var(--semibold-type-16-font-style);
}
.recruitment-details--content--right .form-1 .product-details .terms-condition {
  position: absolute;
  width: 144px;
  height: 24px;
  top: 395px;
  left: 1236px;
  font-family: var(--semibold-type-16-font-family);
  font-weight: var(--semibold-type-16-font-weight);
  color: var(--white);
  font-size: var(--semibold-type-16-font-size);
  text-align: right;
  letter-spacing: var(--semibold-type-16-letter-spacing);
  line-height: var(--semibold-type-16-line-height);
  font-style: var(--semibold-type-16-font-style);
}
.recruitment-details--content--right .form-1 .product-details .privacy-policy {
  position: absolute;
  width: 144px;
  height: 24px;
  top: 395px;
  left: 1032px;
  font-family: var(--semibold-type-16-font-family);
  font-weight: var(--semibold-type-16-font-weight);
  color: var(--white);
  font-size: var(--semibold-type-16-font-size);
  text-align: right;
  letter-spacing: var(--semibold-type-16-letter-spacing);
  line-height: var(--semibold-type-16-line-height);
  font-style: var(--semibold-type-16-font-style);
}
.recruitment-details--content--right .form-1 .product-details .socials {
  position: absolute;
  width: 156px;
  height: 244px;
  top: 80px;
  left: 1228px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-11 {
  position: absolute;
  width: 152px;
  height: 188px;
  top: 56px;
  left: 0;
  font-family: var(--medium-type-16-font-family);
  font-weight: var(--medium-type-16-font-weight);
  color: var(--white);
  font-size: var(--medium-type-16-font-size);
  letter-spacing: var(--medium-type-16-letter-spacing);
  line-height: var(--medium-type-16-line-height);
  font-style: var(--medium-type-16-font-style);
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-12 {
  position: absolute;
  width: 152px;
  height: 32px;
  top: 0;
  left: 0;
  font-family: var(--semibold-type-20-font-family);
  font-weight: var(--semibold-type-20-font-weight);
  color: var(--white);
  font-size: var(--semibold-type-20-font-size);
  letter-spacing: var(--semibold-type-20-letter-spacing);
  line-height: var(--semibold-type-20-line-height);
  white-space: nowrap;
  font-style: var(--semibold-type-20-font-style);
}
.recruitment-details--content--right .form-1 .product-details .community {
  position: absolute;
  width: 156px;
  height: 244px;
  top: 80px;
  left: 925px;
}
.recruitment-details--content--right .form-1 .product-details .about {
  position: absolute;
  width: 156px;
  height: 244px;
  top: 80px;
  left: 622px;
}
.recruitment-details--content--right .form-1 .product-details .line-3 {
  position: absolute;
  width: 1320px;
  height: 1px;
  top: 360px;
  left: 60px;
  object-fit: cover;
}
.recruitment-details--content--right .form-1 .product-details .logo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 96px;
  left: 60px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-13 {
  position: relative;
  width: 292px;
  font-family: var(--medium-type-16-font-family);
  font-weight: var(--medium-type-16-font-weight);
  color: var(--white);
  font-size: var(--medium-type-16-font-size);
  letter-spacing: var(--medium-type-16-letter-spacing);
  line-height: var(--medium-type-16-line-height);
  font-style: var(--medium-type-16-font-style);
}
.recruitment-details--content--right .form-1 .product-details .socmed-facebook {
  left: 60px;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 239px;
  background-color: var(--black);
  border-radius: 16.8px;
  box-shadow: 0px 13px 18px rgba(16, 18, 35, 0.0784313725);
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}
.recruitment-details--content--right .form-1 .product-details .socmed-twitter {
  left: 114px;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 239px;
  background-color: var(--black);
  border-radius: 16.8px;
  box-shadow: 0px 13px 18px rgba(16, 18, 35, 0.0784313725);
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}
.recruitment-details--content--right .form-1 .product-details .socmed-instagram {
  left: 167px;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 239px;
  background-color: var(--black);
  border-radius: 16.8px;
  box-shadow: 0px 13px 18px rgba(16, 18, 35, 0.0784313725);
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}
.recruitment-details--content--right .form-1 .product-details .frame-18 {
  display: flex;
  width: 1170px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 436px;
  left: 135px;
}
.recruitment-details--content--right .form-1 .product-details .title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-5-semi-font-family);
  font-weight: var(--body-5-semi-font-weight);
  color: #172135;
  font-size: var(--body-5-semi-font-size);
  letter-spacing: var(--body-5-semi-letter-spacing);
  line-height: var(--body-5-semi-line-height);
  font-style: var(--body-5-semi-font-style);
}
.recruitment-details--content--right .form-1 .product-details .icons-options {
  position: relative;
  width: 17.69px;
  height: 16px;
}
.recruitment-details--content--right .form-1 .product-details .icon {
  position: absolute;
  width: 11px;
  height: 16px;
  top: 0;
  left: 3px;
}
.recruitment-details--content--right .form-1 .product-details .frame-19 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}
.recruitment-details--content--right .form-1 .product-details .input-fields-icon {
  position: relative;
  width: 480px;
  height: 48px;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.recruitment-details--content--right .form-1 .product-details .placeholder {
  position: absolute;
  top: 14px;
  left: 48px;
  font-family: var(--small-3-regu-font-family);
  font-weight: var(--small-3-regu-font-weight);
  color: #626264;
  font-size: var(--small-3-regu-font-size);
  letter-spacing: var(--small-3-regu-letter-spacing);
  line-height: var(--small-3-regu-line-height);
  font-style: var(--small-3-regu-font-style);
}
.recruitment-details--content--right .form-1 .product-details .icons-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 16px;
  background-image: url(./img/icon.svg);
  background-size: 100% 100%;
}
.recruitment-details--content--right .form-1 .product-details .shopping-bag {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white-light);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .product-details .ellipse-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 30px;
  background-color: #ff0000;
  border-radius: 9px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-14 {
  position: absolute;
  height: 15px;
  top: 0;
  left: 35px;
  font-family: "Mulish-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}
.recruitment-details--content--right .form-1 .product-details .frame-20 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--grey-balck);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-15 {
  position: relative;
  width: 89px;
  margin-top: -1px;
  font-family: var(--body-5-semi-font-family);
  font-weight: var(--body-5-semi-font-weight);
  color: var(--white);
  font-size: var(--body-5-semi-font-size);
  text-align: center;
  letter-spacing: var(--body-5-semi-letter-spacing);
  line-height: var(--body-5-semi-line-height);
  font-style: var(--body-5-semi-font-style);
}
.recruitment-details--content--right .form-1 .product-details .frame-21 {
  display: inline-flex;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--grey-balck);
  border-radius: 8px;
}
.recruitment-details--content--right .form-1 .product-details .text-wrapper-16 {
  position: relative;
  width: 88px;
  font-family: var(--body-5-semi-font-family);
  font-weight: var(--body-5-semi-font-weight);
  color: var(--white);
  font-size: var(--body-5-semi-font-size);
  text-align: center;
  letter-spacing: var(--body-5-semi-letter-spacing);
  line-height: var(--body-5-semi-line-height);
  font-style: var(--body-5-semi-font-style);
}
.recruitment-details--content--right .form-2 .div .text-wrapper {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 16px;
}
.recruitment-details--content--right .form-2 .div .div-2 {
  gap: 33px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(191, 191, 191);
  width: 100%;
}
.recruitment-details--content--right .form-2 .div .div-2 .div-wrapper {
  height: 56px;
  width: 56px;
  background-color: #f3f3f3;
  border-radius: 8px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
}
.recruitment-details--content--right .form-2 .div .div-2 .div-wrapper .text-wrapper-2 {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.recruitment-details--content--right .form-2 .div .div-2 .div-wrapper:hover {
  background: rgb(69, 195, 210);
  color: white;
  border-radius: 8px;
}
.recruitment-details--content--right .form-2 .div .div-2 .div-wrapper.active {
  background: rgb(69, 195, 210);
  color: white;
  border-radius: 8px;
}
.recruitment-details--content--right .form-2 .div .div-2 .div-wrapper i {
  font-size: 25px;
  font-weight: 800;
}
.recruitment-details--content--right .form-2 .div .div-2 button {
  border: none;
  padding: 0;
}
.recruitment-details--content--right .form-2 .div-3 {
  margin-top: 16px;
}
.recruitment-details--content--right .form-2 .div-3 .text-wrapper {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.recruitment-details--content--right .form-2 .div-4 .div-5 {
  margin-bottom: 10px;
}
.recruitment-details--content--right .form-2 .div-4 .div-5 .text-wrapper-3 {
  gap: 10px;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}
.recruitment-details--content--right .form-2 .div-4 .div-5 .frame-wrapper {
  background: #f3f3f3;
  border-radius: 8px;
  border: 1px solid rgb(191, 191, 191);
  color: rgb(146, 146, 146);
  font-size: 16px;
  width: 100%;
  padding: 16px;
}
.recruitment-details--content--right .form-2 .div-7 {
  margin-top: 24px;
}
.recruitment-details--content--right .form-2 .div-7 .div-wrapper {
  border: none;
  display: flex;
  padding: 11px 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  width: 47%;
}
.recruitment-details--content--right .form-2 .div-7 .text-wrapper-5 {
  border: none;
  padding: 11px 0;
  width: 47%;
  border-radius: 8px;
  background: var(--secon1, #45C3D2);
  color: var(--White, #FFF);
  text-align: center;
  font-size: 14px;
  font-weight: 800;
}
.recruitment-details--text hr {
  border: 1px solid rgb(191, 191, 191);
  margin: 16px 0;
}

.medicine {
  margin-top: 30px;
}
.medicine-search {
  align-items: center;
}
.medicine-search--left .title {
  font-size: 16px;
  font-weight: 600;
}
.medicine-search--center .search-box {
  position: relative;
}
.medicine-search--center .search-box input {
  width: 100%;
  padding-left: 8%;
  height: 48px;
  background: rgb(247, 247, 247);
  font-size: 14px;
  font-weight: 400;
  color: rgb(98, 98, 100);
  border-radius: 8px;
  border: none;
}
.medicine-search--center .search-box i {
  position: absolute;
  left: 30px;
  top: 15px;
}
.medicine-search--center .shopping-bag {
  position: relative;
  height: auto;
  width: 48px;
  background: rgb(247, 247, 247);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.medicine-search--center .shopping-bag .fa-bag-shopping {
  font-size: 32px;
}
.medicine-search--center .text-wrapper {
  position: absolute;
  top: 5px;
  right: 0px;
  color: white;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  width: 18px;
  text-align: center;
}
.medicine-search--right .div-wrapper {
  height: 48px;
  background: rgb(66, 66, 66);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.medicine-search--right .div-wrapper a {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.medicine-list {
  margin-top: 20px;
}
.medicine-list--filter .filter {
  border: 1px solid rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
}
.medicine-list--filter .filter-header {
  margin-bottom: 24px;
}
.medicine-list--filter .filter-header .text-wrapper {
  font-size: 16px;
  font-weight: 800;
}
.medicine-list--filter .filter-header i {
  color: rgb(146, 146, 146);
}
.medicine-list--filter .filter-body .item {
  margin-bottom: 8px;
}
.medicine-list--filter .filter-body .item input {
  background: rgb(69, 195, 210);
  border: 1.5px solid rgb(69, 195, 210);
  margin-right: 20px;
}
.medicine-list--filter .filter-body .item .text-all {
  font-size: 16px;
  font-weight: 800;
}
.medicine-list--filter .filter-body .item .text {
  color: rgb(146, 146, 146);
  font-size: 16px;
}
.product-item {
  margin-bottom: 30px;
  padding: 16px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 16px;
}
.product-item .img-pro {
  height: 237px;
  margin-bottom: 10px;
  position: relative;
}
.product-item .img-pro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item .img-pro i {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
.product-item .content-pro .name-pro a {
  color: black;
  font-size: 18px;
  font-weight: 800;
  height: 80px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-item .content-pro .location-pro {
  margin: 5px 0;
  font-size: 16px;
}
.product-item .content-pro .location-pro p {
  margin-left: 5px;
  font-weight: 800;
}
.product-item .content-pro .price-pro {
  font-size: 24px;
  font-weight: 800;
}

/*# sourceMappingURL=file.css.map */
