.container {
    margin-top: 200px;
    .tab-chuyen-khoa {

        .titleServiceHomeNew {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .mainServiceHomeNew {
            margin-top: 40px;

            .col-md-4 {
                .border-HomeNew {
                    border-radius: 24px;
                    border: 1px solid #D6D6D6;
                    background: #FFF;
                    display: flex;
                    padding: 24px;
                    align-items: center;
                    gap: 24px;
                    flex-shrink: 0;
                    margin-bottom: 30px;
                    overflow: hidden;

                    &:hover {
                        border-radius: 24px;
                        border: 1px solid #088180;
                        background: #FFF;
                        box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.25);

                        .svg-container, .svg-containerNho svg {
                            animation: moveDown 0.3s forwards;
                        }

                        @keyframes moveDown {
                            to {
                                transform: translateY(30px);
                            }
                        }
                    }

                    img {
                        width: 64px;
                        height: 64px;
                        flex-shrink: 0;
                        border-radius: 50px;
                        margin-right: 24px;
                        object-fit: cover;
                    }

                    .svg-container {
                        position: relative;
                        right: 80px;
                        top: -45px
                    }

                    .svg-containerNho {
                        position: relative;
                        right: 160px;
                        top: -35px;
                    }
                }
            }

            span {
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                max-height: 60px;
                display: -webkit-box;
                line-height: 1.3;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .danh-sach-theo-chuyen-khoa {

        .title-Danh-sach {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-bottom: 32px;
        }

        .search-specialist {
            display: flex;
            justify-content: center;
            align-items: center;
            //width: 830px;
            margin: 0 auto;

            label {
                color: #626264;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                position: relative;

                i {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                }

                input, select {
                    height: 48px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    background: var(--White-Light, #F3F3F3);
                    border: none;
                    padding: 10px 46px;
                    width: 100%;
                    outline: none;
                }
            }

            .select-specialist__label {
                select {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    color: var(--Grey-Dark, #929292);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .search-specialist__label {
                input {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

        }

        .specialList-clinics {
            .border-specialList {
                border-radius: 16px;
                border: 1px solid var(--Light, #EAEAEA);
                background: var(--White, #FFF);

                .specialList-clinics--img {

                }

                .specialList-clinics--main {

                    .title-specialList-clinics {
                        color: var(--Black, #000);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                    }

                    .address-specialList-clinics {
                        color: var(--Grey-Dark, #929292);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        span {
                            color: var(--secon1, #088180);
                        }
                    }

                    .time-working {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        .color-timeWorking {
                            color: var(--secon1, #088180);

                        }
                    }

                    .group-button {
                        .button-booking-specialList {
                            display: flex;
                            height: 40px;
                            padding: 13px 16px 12px 16px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex: 1 0 0;
                            border-radius: 45px;
                            background: var(--secon1, #088180);
                            color: #FFF;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .button-detail-specialList {
                            display: flex;
                            height: 40px;
                            padding: 13px 16px 12px 16px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex: 1 0 0;
                            border-radius: 45px;
                            background: var(--White-Light, #F3F3F3);
                            color: var(--secon1, #088180);
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            border: 1px solid var(--secon1, #088180);
                        }
                    }
                }
            }
        }

        .nav-item {
            margin: 12px;

            .nav-link.active {
                border-radius: 45px;
                background: var(--secon1, #088180);
                display: flex;
                padding: 13px 16px 12px 16px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: none;
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                height: auto;
            }

            .nav-link {
                border-radius: 45px;
                border: 1px solid var(--secon1, #088180);
                display: flex;
                padding: 13px 16px 12px 16px;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }
        .product-item {
            border-radius: 25px;
            background: #088180;
            padding: 0;

            .img-pro {
                img {
                    border-radius: 24px 24px 0px 100px;
                    height: 300px;
                    object-fit: cover;
                }

                i {
                    display: flex;
                    padding: 8px;
                    align-items: flex-start;
                    gap: 10px;
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    border-radius: 51px;
                    background: var(--Light, #EAEAEA);
                }

                .icon-chuyen-khoa {
                    display: flex;
                    padding: 8px;
                    align-items: flex-start;
                    gap: 10px;
                    position: absolute;
                    left: 15px;
                    bottom: 0;
                    border-radius: 51px;
                    background: var(--Light, #EAEAEA);

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 22px;
                    }
                }
            }

            .content-pro {
                .name-product {
                    a {
                        color: var(--White, #FFF);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        min-height: 24px;
                    }
                }

                .location-pro p {
                    margin: 0;
                    color: var(--White, #FFF);
                    //text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    min-height: 85px;
                }

                .price-pro {
                    color: var(--White, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }
            }

            &:hover {
                border-radius: 25px;
                background: #088180;
                box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .detail-clinic-theo-chuyen-khoa-title {
        .title-detail-clinic {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
         .border-specialList {


            .specialList-clinics--img {

            }

            .specialList-clinics--main {

                .title-specialList-clinics {
                    color: var(--Black, #000);
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    margin-bottom: 12px;
                }

                .address-specialList-clinics {
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;


                    i {
                        color: var(--secon1, #929292);
                    }
                }

                .time-working {
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    i {
                        color: var(--secon1, #929292);

                    }
                }

                .group-button {
                    .button-direct-specialList {
                        display: flex;
                        height: 40px;
                        padding: 13px 16px 12px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex: 1 0 0;
                        border-radius: 45px;
                        background: var(--secon1, #088180);
                        color: #FFF;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .button-follow-specialList {
                        display: flex;
                        height: 40px;
                        padding: 13px 16px 12px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex: 1 0 0;
                        border-radius: 45px;
                        background: var(--White-Light, #F3F3F3);
                        color: var(--secon1, #088180);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .detail-clinic-theo-chuyen-khoa-main {
        .nav-link.active {
            color: #088180;
        }
        .nav-link {
            color: var(--Grey-Dark, #929292);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
.mt-150 {
    margin-top: 150px;
}


