.btn-send {
    background: #45C3D2 !important;
    color: #fff !important;
}

.btn-send:hover {
    background: rgba(69, 195, 210, 0.66) !important;
}

.fa-2xl {
    cursor: pointer;
}

.avt-user-review {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 80px;
}

.checked {
    color: #FFCF26;
}
