.change-quantity {
  width: 100%;
  display: flex;
  align-items: center;
}

.value-button {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 24px;
}

.value-button:hover {
  cursor: pointer;
}

input.number {
  text-align: center;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
}

input:focus-visible {
  border: none !important;
}

@media (max-width: 575px) {
  .modal-content .modal-header .modal-title {
    color: var(--Black, #000);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .modal-content button.btn.cancel {
    display: flex;
    padding: 11px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    background: var(--Grey-Light, #D6D6D6);
    color: var(--Grey-Balck, #424242);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .modal-content a.btn.pay {
    display: flex;
    padding: 11px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    background: var(--secon1, #088180);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .modal-body .product-cart {
    padding: 10px 16px 10px 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Light, #EAEAEA);
    background: var(--White, #FFF);
    margin-bottom: 6px;
  }
  .modal-body .product-cart .title .title-name, .modal-body .product-cart .title .price {
    font-size: 12px;
  }
  .modal-body .delete-product {
    top: 0px;
    right: 10px;
    cursor: pointer;
    width: 23px;
    align-items: center;
    display: flex;
    justify-content: end;
  }
  .modal-body .change-quantity .number {
    font-size: 14px;
    width: 18px;
    height: 18px;
  }
  .modal-body .change-quantity .value-button {
    display: inline-block;
    width: 18px;
    text-align: center;
    font-size: 17px;
  }
}
@media (min-width: 576px) {
  .modal-cart .modal-dialog {
    max-width: 700px;
  }
  .modal-cart .modal-dialog .modal-content .modal-header {
    border-bottom: none;
  }
  .modal-cart .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 24px;
    font-weight: 800;
  }
  .modal-cart .modal-dialog .modal-content .modal-body {
    max-height: 75vh;
    overflow-y: auto;
    padding: 0 30px;
    border-bottom: none;
    display: grid;
    gap: 16px;
  }
  .modal-cart .modal-dialog .modal-content .modal-body .product-cart {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid rgb(234, 234, 234);
    align-items: center;
  }
  .modal-cart .modal-dialog .modal-content .modal-body .product-cart .img {
    width: 100px;
    height: 100px;
  }
  .modal-cart .modal-dialog .modal-content .modal-body .product-cart .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .modal-cart .modal-dialog .modal-content .modal-body .product-cart .title .title-name {
    font-size: 18px;
    font-weight: 800;
  }
  .modal-cart .modal-dialog .modal-content .modal-body .product-cart .title .price {
    font-size: 18px;
    font-weight: 600;
  }
  .modal-cart .modal-dialog .modal-content .modal-body .delete-product {
    top: 0px;
    right: 10px;
    cursor: pointer;
    width: 23px;
    align-items: center;
    display: flex;
    justify-content: end;
  }
  .modal-cart .modal-dialog .modal-content .modal-footer {
    border-top: none;
  }
  .modal-cart .modal-dialog .modal-content .modal-footer .cancel {
    width: 161px;
    font-size: 14px;
    font-weight: 800;
    background: rgb(214, 214, 214);
    border-radius: 8px;
    height: 40px;
  }
  .modal-cart .modal-dialog .modal-content .modal-footer .pay {
    width: 161px;
    font-size: 14px;
    font-weight: 800;
    background: rgb(69, 195, 210);
    color: white;
    border-radius: 8px;
    height: 40px;
  }
}

/*# sourceMappingURL=modalcart.css.map */
