:root {
    --secon-1: rgba(69, 195, 210, 1);
    --white: rgba(255, 255, 255, 1);
    --white-light: rgba(243, 243, 243, 1);
    --light: rgba(234, 234, 234, 1);
    --grey-light: rgba(214, 214, 214, 1);
    --grey-medium: rgba(191, 191, 191, 1);
    --grey: rgba(169, 169, 169, 1);
    --grey-dark: rgba(146, 146, 146, 1);
    --grey-balck: rgba(66, 66, 66, 1);
    --black: rgba(0, 0, 0, 1);
    --pri-1: rgba(16, 153, 149, 1);
    --heading-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --heading-1-extra-font-weight: 800;
    --heading-1-extra-font-size: 64px;
    --heading-1-extra-letter-spacing: 0px;
    --heading-1-extra-line-height: normal;
    --heading-1-extra-font-style: normal;
    --heading-2-regular-font-family: "Mulish-Regular", Helvetica;
    --heading-2-regular-font-weight: 400;
    --heading-2-regular-font-size: 64px;
    --heading-2-regular-letter-spacing: 0px;
    --heading-2-regular-line-height: normal;
    --heading-2-regular-font-style: normal;
    --heading-3-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --heading-3-extra-font-weight: 800;
    --heading-3-extra-font-size: 48px;
    --heading-3-extra-letter-spacing: 0px;
    --heading-3-extra-line-height: normal;
    --heading-3-extra-font-style: normal;
    --heading-4-regular-font-family: "Mulish-Regular", Helvetica;
    --heading-4-regular-font-weight: 400;
    --heading-4-regular-font-size: 48px;
    --heading-4-regular-letter-spacing: 0px;
    --heading-4-regular-line-height: normal;
    --heading-4-regular-font-style: normal;
    --title-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --title-1-extra-font-weight: 800;
    --title-1-extra-font-size: 32px;
    --title-1-extra-letter-spacing: 0px;
    --title-1-extra-line-height: normal;
    --title-1-extra-font-style: normal;
    --title-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --title-2-semi-font-weight: 600;
    --title-2-semi-font-size: 32px;
    --title-2-semi-letter-spacing: 0px;
    --title-2-semi-line-height: normal;
    --title-2-semi-font-style: normal;
    --title-3-regular-font-family: "Mulish-Regular", Helvetica;
    --title-3-regular-font-weight: 400;
    --title-3-regular-font-size: 32px;
    --title-3-regular-letter-spacing: 0px;
    --title-3-regular-line-height: normal;
    --title-3-regular-font-style: normal;
    --subtitle-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --subtitle-1-extra-font-weight: 800;
    --subtitle-1-extra-font-size: 24px;
    --subtitle-1-extra-letter-spacing: 0px;
    --subtitle-1-extra-line-height: normal;
    --subtitle-1-extra-font-style: normal;
    --subtitle-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --subtitle-2-semi-font-weight: 600;
    --subtitle-2-semi-font-size: 24px;
    --subtitle-2-semi-letter-spacing: 0px;
    --subtitle-2-semi-line-height: normal;
    --subtitle-2-semi-font-style: normal;
    --subtitle-3-regular-font-family: "Mulish-Regular", Helvetica;
    --subtitle-3-regular-font-weight: 400;
    --subtitle-3-regular-font-size: 24px;
    --subtitle-3-regular-letter-spacing: 0px;
    --subtitle-3-regular-line-height: normal;
    --subtitle-3-regular-font-style: normal;
    --body-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --body-1-extra-font-weight: 800;
    --body-1-extra-font-size: 18px;
    --body-1-extra-letter-spacing: 0px;
    --body-1-extra-line-height: normal;
    --body-1-extra-font-style: normal;
    --body-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --body-2-semi-font-weight: 600;
    --body-2-semi-font-size: 18px;
    --body-2-semi-letter-spacing: 0px;
    --body-2-semi-line-height: normal;
    --body-2-semi-font-style: normal;
    --body-3-regular-font-family: "Mulish-Regular", Helvetica;
    --body-3-regular-font-weight: 400;
    --body-3-regular-font-size: 18px;
    --body-3-regular-letter-spacing: 0px;
    --body-3-regular-line-height: normal;
    --body-3-regular-font-style: normal;
    --body-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --body-4-extra-font-weight: 800;
    --body-4-extra-font-size: 16px;
    --body-4-extra-letter-spacing: 0px;
    --body-4-extra-line-height: normal;
    --body-4-extra-font-style: normal;
    --body-5-semi-font-family: "Mulish-SemiBold", Helvetica;
    --body-5-semi-font-weight: 600;
    --body-5-semi-font-size: 16px;
    --body-5-semi-letter-spacing: 0px;
    --body-5-semi-line-height: normal;
    --body-5-semi-font-style: normal;
    --body-6-regu-font-family: "Mulish-Regular", Helvetica;
    --body-6-regu-font-weight: 400;
    --body-6-regu-font-size: 16px;
    --body-6-regu-letter-spacing: 0px;
    --body-6-regu-line-height: normal;
    --body-6-regu-font-style: normal;
    --small-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-1-extra-font-weight: 800;
    --small-1-extra-font-size: 14px;
    --small-1-extra-letter-spacing: 0px;
    --small-1-extra-line-height: normal;
    --small-1-extra-font-style: normal;
    --small-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-2-semi-font-weight: 600;
    --small-2-semi-font-size: 14px;
    --small-2-semi-letter-spacing: 0px;
    --small-2-semi-line-height: normal;
    --small-2-semi-font-style: normal;
    --small-3-regu-font-family: "Mulish-Regular", Helvetica;
    --small-3-regu-font-weight: 400;
    --small-3-regu-font-size: 14px;
    --small-3-regu-letter-spacing: 0px;
    --small-3-regu-line-height: normal;
    --small-3-regu-font-style: normal;
    --small-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-4-extra-font-weight: 800;
    --small-4-extra-font-size: 12px;
    --small-4-extra-letter-spacing: 0px;
    --small-4-extra-line-height: normal;
    --small-4-extra-font-style: normal;
    --small-5-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-5-semi-font-weight: 600;
    --small-5-semi-font-size: 12px;
    --small-5-semi-letter-spacing: 0px;
    --small-5-semi-line-height: normal;
    --small-5-semi-font-style: normal;
    --small-6-regu-font-family: "Mulish-Regular", Helvetica;
    --small-6-regu-font-weight: 400;
    --small-6-regu-font-size: 12px;
    --small-6-regu-letter-spacing: 0px;
    --small-6-regu-line-height: normal;
    --small-6-regu-font-style: normal;
    --small-7-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-7-extra-font-weight: 800;
    --small-7-extra-font-size: 10px;
    --small-7-extra-letter-spacing: 0px;
    --small-7-extra-line-height: normal;
    --small-7-extra-font-style: normal;
    --small-8-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-8-semi-font-weight: 600;
    --small-8-semi-font-size: 10px;
    --small-8-semi-letter-spacing: 0px;
    --small-8-semi-line-height: normal;
    --small-8-semi-font-style: normal;
    --small-9-regu-font-family: "Mulish-SemiBold", Helvetica;
    --small-9-regu-font-weight: 600;
    --small-9-regu-font-size: 10px;
    --small-9-regu-letter-spacing: 0px;
    --small-9-regu-line-height: normal;
    --small-9-regu-font-style: normal;
    --body-6-regular-font-family: "Mulish-Regular", Helvetica;
    --body-6-regular-font-weight: 400;
    --body-6-regular-font-size: 16px;
    --body-6-regular-letter-spacing: 0px;
    --body-6-regular-line-height: normal;
    --body-6-regular-font-style: normal;
    --body-5-semibold-font-family: "Mulish-SemiBold", Helvetica;
    --body-5-semibold-font-weight: 600;
    --body-5-semibold-font-size: 16px;
    --body-5-semibold-letter-spacing: 0px;
    --body-5-semibold-line-height: normal;
    --body-5-semibold-font-style: normal;
}
p {
    padding: 0 !important;
    margin: 0 !important;
}
.mt-2rem {
margin-top: 2rem;
}
.fs-14 {
    font-size: 14px;
}
.fs-12 {
    font-size: 12px;
}
.banner-logo {
    width: 100%;
    height: 280px;
}
/* Recruitment details/ apply */
body {
    .apply-mr {
        margin-right: 31px;
    }
    .apply-border {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 16px;
        &&:hover {
            border-radius: 16px;
            border: 1px solid  #45C3D2 !important;
            background:  #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .apply-margin {
            margin: 16px;

        }
    }
    .apply-img {
        width: 100%;
        && img {
            width:237px ;
            height:237px ;
            border-radius: 8px;
            background: lightgray 50% / cover no-repeat;
        }
    }

    .apply-text {
        margin-top: 12px;
    }
    .apply-bt {
        border-radius: 8px;
        height: 40px;
        width: 110px;
        color: #f7f7f7;
        border: none;
        margin-top: 24px;
    }
    .button-cancel {
        border-radius: 8px;
        height: 40px;
        width: 160px;
        color: #f7f7f7;
        border: none;
        background: #D6D6D6;
        margin-right: 16px;
    }
    .button-save {
        border-radius: 8px;
        height: 40px;
        width: 160px;
        color: #f7f7f7;
        border: none;
        background: #45C3D2;
    }
    .margin-200 {
        margin-right: 200px;
        margin-top: 10px;
    }
    .margin-top-220 {
        margin-top: 220px;
    }
    .apply-bt_delete {
        background:  #D6D6D6;
        margin-right: 16px;
        color: #929292;
    }
    .apply-bt_edit {
        background:  #45C3D2;
    }
    .apply-add {
        width: 269px;
        text-align: center;
        height: auto;
        padding-top: 183px;
    }
}
/* end Recruitment details/ apply */
a, input, button {
    &&:hover {
        cursor: pointer;
        text-decoration: none;
    }
}
/* add cv */
.avatar-info {
    display: flex;
    && img {
        width: 120px;
        margin: 24px 0;
        justify-content: center;
    }
}
.content-add {
    margin-top: 40px;
}
.ac-text_content {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-font-24 {
    font-size: 24px;
    margin-top: 24px;
    font-weight: 800;
}
.ac-choose {
    height: 56px;
    width: 100%;
    padding: 0px 16px 0px 8px;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    color: #929292;
    margin-right: 5px;
}
.mt-110 {
    margin-top: 110px !important;
}
.text-font-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-add_cv {
    && img {
        width: 100%;
        height: auto;
    }
}

.container {
    .add-cv_text {
        display: inline-flex;
        align-items: center;
        margin-left: -15px;
    }

    .ac-textarea {
        width: 100%;
        height: 232px;
        padding: 16px 16px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        background-color: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #eaeaea;
    }

    .ac-email {
        height: 56px;
        padding: 20px 16px;
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #eaeaea;
    }

    .ac-birth {
        height: 56px;
        padding: 20px 16px;
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #eaeaea;
        color: #929292;
    }

    .ac-select-phone {
        height: 56px;
        width: 30%;
        gap: 12px;
        padding: 0px 16px 0px 8px;
        background-color: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #eaeaea;
        color: #929292;
        margin-right: 5px;

    }

    .ac-input-phone {
        height: 56px;
        width: 70%;
        padding: 20px 16px;
        background-color: #f3f3f3;
        border-radius: 8px;
        border: 1px solid #eaeaea;
        color: #929292;
    }

    .ac-nation {
        padding: 10px 16px;
        width: 100%;
        height: 56px;
        background-color: #f3f3f3;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #eaeaea;
        color: #929292;
    }

    .ac-address {
        width: 100%;
        height: 56px;
        padding: 6px 24px 6px 16px;
        background-color: #f3f3f3;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        color: #929292;
        margin-top: 16px;
    }

    .red-color {
        color: red;
    }

    .ac-info {
        padding: 16px;
        top: 500px;
        left: 935px;
        background-color: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 4px 4px #00000040;
    }

    .ac-year {
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        display: flex;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
    }

    .ac-default {
        position: relative;
        margin-top: -1px;
        font-family: var(--body-5-semibold-font-family);
        font-weight: var(--body-5-semibold-font-weight);
        color: #929292;
        font-size: var(--body-5-semibold-font-size);
        letter-spacing: var(--body-5-semibold-letter-spacing);
        line-height: var(--body-5-semibold-line-height);
        font-style: var(--body-5-semibold-font-style);
    }

    .span-year {
        margin-left: 80%;
        position: absolute;
        width: fit-content;
        font-family: var(--body-5-semibold-font-family);
        font-weight: var(--body-5-semibold-font-weight);
        color: var(--black);

    }
    .plus-img {
             width: 24px;
             height: 24px;
        margin-right: 10px;
    }
    .color_text-add {
        color: #45C3D2;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .border-note {
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        background: #F3F3F3;
    }

    .ac-license {
        && img {
            height: 40px;
            margin: 30px 16px;
        }
    }

    .text-color-gray {
        color: #929292;
    }
    .add-cv-bt {
        border-radius: 8px;
        height: 48px;
        width: 270px;
        color: #f7f7f7;
        border: none;
        margin-top: 24px;
    }





}






















/* end add cv */

