:root {
    --secon-1: rgba(69, 195, 210, 1);
    --white: rgba(255, 255, 255, 1);
    --white-light: rgba(243, 243, 243, 1);
    --light: rgba(234, 234, 234, 1);
    --grey-light: rgba(214, 214, 214, 1);
    --grey-medium: rgba(191, 191, 191, 1);
    --grey: rgba(169, 169, 169, 1);
    --grey-dark: rgba(146, 146, 146, 1);
    --grey-balck: rgba(66, 66, 66, 1);
    --black: rgba(0, 0, 0, 1);
    --pri-1: rgba(16, 153, 149, 1);
    --heading-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --heading-1-extra-font-weight: 800;
    --heading-1-extra-font-size: 64px;
    --heading-1-extra-letter-spacing: 0px;
    --heading-1-extra-line-height: normal;
    --heading-1-extra-font-style: normal;
    --heading-2-regular-font-family: "Mulish-Regular", Helvetica;
    --heading-2-regular-font-weight: 400;
    --heading-2-regular-font-size: 64px;
    --heading-2-regular-letter-spacing: 0px;
    --heading-2-regular-line-height: normal;
    --heading-2-regular-font-style: normal;
    --heading-3-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --heading-3-extra-font-weight: 800;
    --heading-3-extra-font-size: 48px;
    --heading-3-extra-letter-spacing: 0px;
    --heading-3-extra-line-height: normal;
    --heading-3-extra-font-style: normal;
    --heading-4-regular-font-family: "Mulish-Regular", Helvetica;
    --heading-4-regular-font-weight: 400;
    --heading-4-regular-font-size: 48px;
    --heading-4-regular-letter-spacing: 0px;
    --heading-4-regular-line-height: normal;
    --heading-4-regular-font-style: normal;
    --title-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --title-1-extra-font-weight: 800;
    --title-1-extra-font-size: 32px;
    --title-1-extra-letter-spacing: 0px;
    --title-1-extra-line-height: normal;
    --title-1-extra-font-style: normal;
    --title-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --title-2-semi-font-weight: 600;
    --title-2-semi-font-size: 32px;
    --title-2-semi-letter-spacing: 0px;
    --title-2-semi-line-height: normal;
    --title-2-semi-font-style: normal;
    --title-3-regular-font-family: "Mulish-Regular", Helvetica;
    --title-3-regular-font-weight: 400;
    --title-3-regular-font-size: 32px;
    --title-3-regular-letter-spacing: 0px;
    --title-3-regular-line-height: normal;
    --title-3-regular-font-style: normal;
    --subtitle-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --subtitle-1-extra-font-weight: 800;
    --subtitle-1-extra-font-size: 24px;
    --subtitle-1-extra-letter-spacing: 0px;
    --subtitle-1-extra-line-height: normal;
    --subtitle-1-extra-font-style: normal;
    --subtitle-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --subtitle-2-semi-font-weight: 600;
    --subtitle-2-semi-font-size: 24px;
    --subtitle-2-semi-letter-spacing: 0px;
    --subtitle-2-semi-line-height: normal;
    --subtitle-2-semi-font-style: normal;
    --subtitle-3-regular-font-family: "Mulish-Regular", Helvetica;
    --subtitle-3-regular-font-weight: 400;
    --subtitle-3-regular-font-size: 24px;
    --subtitle-3-regular-letter-spacing: 0px;
    --subtitle-3-regular-line-height: normal;
    --subtitle-3-regular-font-style: normal;
    --body-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --body-1-extra-font-weight: 800;
    --body-1-extra-font-size: 18px;
    --body-1-extra-letter-spacing: 0px;
    --body-1-extra-line-height: normal;
    --body-1-extra-font-style: normal;
    --body-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --body-2-semi-font-weight: 600;
    --body-2-semi-font-size: 18px;
    --body-2-semi-letter-spacing: 0px;
    --body-2-semi-line-height: normal;
    --body-2-semi-font-style: normal;
    --body-3-regular-font-family: "Mulish-Regular", Helvetica;
    --body-3-regular-font-weight: 400;
    --body-3-regular-font-size: 18px;
    --body-3-regular-letter-spacing: 0px;
    --body-3-regular-line-height: normal;
    --body-3-regular-font-style: normal;
    --body-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --body-4-extra-font-weight: 800;
    --body-4-extra-font-size: 16px;
    --body-4-extra-letter-spacing: 0px;
    --body-4-extra-line-height: normal;
    --body-4-extra-font-style: normal;
    --body-5-semi-font-family: "Mulish-SemiBold", Helvetica;
    --body-5-semi-font-weight: 600;
    --body-5-semi-font-size: 16px;
    --body-5-semi-letter-spacing: 0px;
    --body-5-semi-line-height: normal;
    --body-5-semi-font-style: normal;
    --body-6-regu-font-family: "Mulish-Regular", Helvetica;
    --body-6-regu-font-weight: 400;
    --body-6-regu-font-size: 16px;
    --body-6-regu-letter-spacing: 0px;
    --body-6-regu-line-height: normal;
    --body-6-regu-font-style: normal;
    --small-1-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-1-extra-font-weight: 800;
    --small-1-extra-font-size: 14px;
    --small-1-extra-letter-spacing: 0px;
    --small-1-extra-line-height: normal;
    --small-1-extra-font-style: normal;
    --small-2-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-2-semi-font-weight: 600;
    --small-2-semi-font-size: 14px;
    --small-2-semi-letter-spacing: 0px;
    --small-2-semi-line-height: normal;
    --small-2-semi-font-style: normal;
    --small-3-regu-font-family: "Mulish-Regular", Helvetica;
    --small-3-regu-font-weight: 400;
    --small-3-regu-font-size: 14px;
    --small-3-regu-letter-spacing: 0px;
    --small-3-regu-line-height: normal;
    --small-3-regu-font-style: normal;
    --small-4-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-4-extra-font-weight: 800;
    --small-4-extra-font-size: 12px;
    --small-4-extra-letter-spacing: 0px;
    --small-4-extra-line-height: normal;
    --small-4-extra-font-style: normal;
    --small-5-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-5-semi-font-weight: 600;
    --small-5-semi-font-size: 12px;
    --small-5-semi-letter-spacing: 0px;
    --small-5-semi-line-height: normal;
    --small-5-semi-font-style: normal;
    --small-6-regu-font-family: "Mulish-Regular", Helvetica;
    --small-6-regu-font-weight: 400;
    --small-6-regu-font-size: 12px;
    --small-6-regu-letter-spacing: 0px;
    --small-6-regu-line-height: normal;
    --small-6-regu-font-style: normal;
    --small-7-extra-font-family: "Mulish-ExtraBold", Helvetica;
    --small-7-extra-font-weight: 800;
    --small-7-extra-font-size: 10px;
    --small-7-extra-letter-spacing: 0px;
    --small-7-extra-line-height: normal;
    --small-7-extra-font-style: normal;
    --small-8-semi-font-family: "Mulish-SemiBold", Helvetica;
    --small-8-semi-font-weight: 600;
    --small-8-semi-font-size: 10px;
    --small-8-semi-letter-spacing: 0px;
    --small-8-semi-line-height: normal;
    --small-8-semi-font-style: normal;
    --small-9-regu-font-family: "Mulish-SemiBold", Helvetica;
    --small-9-regu-font-weight: 600;
    --small-9-regu-font-size: 10px;
    --small-9-regu-letter-spacing: 0px;
    --small-9-regu-line-height: normal;
    --small-9-regu-font-style: normal;
    --body-6-regular-font-family: "Mulish-Regular", Helvetica;
    --body-6-regular-font-weight: 400;
    --body-6-regular-font-size: 16px;
    --body-6-regular-letter-spacing: 0px;
    --body-6-regular-line-height: normal;
    --body-6-regular-font-style: normal;
    --body-5-semibold-font-family: "Mulish-SemiBold", Helvetica;
    --body-5-semibold-font-weight: 600;
    --body-5-semibold-font-size: 16px;
    --body-5-semibold-letter-spacing: 0px;
    --body-5-semibold-line-height: normal;
    --body-5-semibold-font-style: normal;
}
.banner-logo {
    width: 100%;
    height: 280px;
}
/* Recruitment details/ apply */
body {
    .apply-mr {
        margin-right: 31px;
    }
    .apply-border {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 16px;
        &&:hover {
            border-radius: 16px;
            border: 1px solid  #45C3D2 !important;
            background:  #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .apply-margin {
            margin: 16px;

        }
    }
    .apply-img {
        width: 100%;
        && img {
            width:237px ;
            height:237px ;
            border-radius: 8px;
            background: lightgray 50% / cover no-repeat;
        }
    }

    .apply-text {
        margin-top: 12px;
    }
    .apply-bt {
        border-radius: 8px;
        height: 40px;
        width: 110px;
        color: #f7f7f7;
        border: none;
        margin-top: 24px;
    }
    .apply-bt_delete {
        background:  #D6D6D6;
        margin-right: 16px;
        color: #929292;
    }
    .apply-bt_edit {
        background:  #45C3D2;
    }
    .apply-add {
        width: 269px;
        text-align: center;
        height: auto;
        padding-top: 183px;
    }
}
/* end Recruitment details/ apply */
/* add cv */
.add-cv {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.add-cv .div {
    background-color: var(--white);
    overflow: hidden;
    width: 1440px;
    height: 2748px;
    position: relative;
}

.add-cv .frame {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 76px 24px 77px;
    position: absolute;
    top: 1px;
    left: 0;
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
}

.add-cv .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 58px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .image {
    position: relative;
    width: 177px;
    height: 42px;
    object-fit: cover;
}

.add-cv .frame-3 {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.add-cv .rercruiment {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    color: var(--secon-1);
    font-size: var(--subtitle-1-extra-font-size);
    letter-spacing: var(--subtitle-1-extra-letter-spacing);
    line-height: var(--subtitle-1-extra-line-height);
    font-style: var(--subtitle-1-extra-font-style);
}

.add-cv .frame-4 {
    display: flex;
    width: 320px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.add-cv .rercruiment-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-5-semi-font-family);
    font-weight: var(--body-5-semi-font-weight);
    color: var(--grey-balck);
    font-size: var(--body-5-semi-font-size);
    letter-spacing: var(--body-5-semi-letter-spacing);
    line-height: var(--body-5-semi-line-height);
    font-style: var(--body-5-semi-font-style);
}

.add-cv .rercruiment-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .rercruiment-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-5-semi-font-family);
    font-weight: var(--body-5-semi-font-weight);
    color: var(--secon-1);
    font-size: var(--body-5-semi-font-size);
    letter-spacing: var(--body-5-semi-letter-spacing);
    line-height: var(--body-5-semi-line-height);
    font-style: var(--body-5-semi-font-style);
}

.add-cv .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 2px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
}

.add-cv .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 6px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--secon-1);
    border-radius: 8px;
}

.add-cv .text-wrapper-2 {
    position: relative;
    width: 88px;
    margin-top: -1px;
    font-family: var(--body-5-semi-font-family);
    font-weight: var(--body-5-semi-font-weight);
    color: var(--white);
    font-size: var(--body-5-semi-font-size);
    text-align: center;
    letter-spacing: var(--body-5-semi-letter-spacing);
    line-height: var(--body-5-semi-line-height);
    font-style: var(--body-5-semi-font-style);
}

.add-cv .user-circle {
    position: relative;
    width: 40px;
    height: 40px;
}

.add-cv .group {
    position: absolute;
    width: 1442px;
    height: 280px;
    top: 116px;
    left: 0;
}

.add-cv .overlap-group {
    position: relative;
    width: 1440px;
    height: 280px;
    background-color: #aab4c3;
}

.add-cv .text-wrapper-3 {
    position: absolute;
    width: 169px;
    height: 60px;
    top: 110px;
    left: 635px;
    font-family: var(--heading-3-extra-font-family);
    font-weight: var(--heading-3-extra-font-weight);
    color: #000000;
    font-size: var(--heading-3-extra-font-size);
    letter-spacing: var(--heading-3-extra-letter-spacing);
    line-height: var(--heading-3-extra-line-height);
    font-style: var(--heading-3-extra-font-style);
}

.add-cv .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 26px;
    position: absolute;
    top: 436px;
    left: 135px;
}

.add-cv .arrow-narrow-left {
    position: relative;
    width: 32px;
    height: 32px;
}

.add-cv .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-1-extra-font-family);
    font-weight: var(--title-1-extra-font-weight);
    color: #000000;
    font-size: var(--title-1-extra-font-size);
    letter-spacing: var(--title-1-extra-letter-spacing);
    line-height: var(--title-1-extra-line-height);
    font-style: var(--title-1-extra-font-style);
}

.add-cv .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 500px;
    left: 135px;
}

.add-cv .frame-8 {
    display: flex;
    flex-direction: column;
    width: 770px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .optimism-is-the-fait {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--subtitle-1-extra-font-family);
    font-weight: var(--subtitle-1-extra-font-weight);
    color: #353940;
    font-size: var(--subtitle-1-extra-font-size);
    letter-spacing: var(--subtitle-1-extra-letter-spacing);
    line-height: var(--subtitle-1-extra-line-height);
    font-style: var(--subtitle-1-extra-font-style);
}

.add-cv .line-2 {
    position: relative;
    width: 770px;
    height: 1px;
    object-fit: cover;
}

.add-cv .frame-wrapper {
    width: 770px;
    height: 232px;
    padding: 16px 16px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--grey-medium);
}

.add-cv .nguy-n-v-n-a-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 405px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 6px;
    width: 770px;
    height: 232px;
}

.add-cv .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-5-semi-font-family);
    font-weight: var(--body-5-semi-font-weight);
    color: #929292;
    font-size: var(--body-5-semi-font-size);
    letter-spacing: var(--body-5-semi-letter-spacing);
    line-height: var(--body-5-semi-line-height);
    font-style: var(--body-5-semi-font-style);
}

.add-cv .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 811px;
    left: 135px;
}

.add-cv .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-11 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-12 {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-4-extra-font-family);
    font-weight: var(--body-4-extra-font-weight);
    color: transparent;
    font-size: var(--body-4-extra-font-size);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-style: var(--body-4-extra-font-style);
}

.add-cv .span {
    color: #000000;
    font-family: var(--body-4-extra-font-family);
    font-style: var(--body-4-extra-font-style);
    font-weight: var(--body-4-extra-font-weight);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-size: var(--body-4-extra-font-size);
}

.add-cv .text-wrapper-6 {
    color: #ff0000;
    font-family: var(--body-4-extra-font-family);
    font-style: var(--body-4-extra-font-style);
    font-weight: var(--body-4-extra-font-weight);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-size: var(--body-4-extra-font-size);
}

.add-cv .frame-13 {
    display: flex;
    flex-direction: column;
    height: 56px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 20px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--grey-medium);
}

.add-cv .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 405px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -2px;
    margin-bottom: -2px;
}

.add-cv .frame-15 {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 0.5px solid;
    border-color: #eaeaea;
}

.add-cv .calendar-date {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.add-cv .frame-16 {
    display: inline-flex;
    align-items: flex-start;
    gap: 56px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-17 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .web-tick-box {
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./img/placeholder.svg);
    background-size: 100% 100%;
}

.add-cv .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: var(--body-4-extra-font-family);
    font-weight: var(--body-4-extra-font-weight);
    color: #000000;
    font-size: var(--body-4-extra-font-size);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-style: var(--body-4-extra-font-style);
}

.add-cv .frame-18 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-1-extra-font-family);
    font-weight: var(--body-1-extra-font-weight);
    color: #000000;
    font-size: var(--body-1-extra-font-size);
    letter-spacing: var(--body-1-extra-letter-spacing);
    line-height: var(--body-1-extra-line-height);
    font-style: var(--body-1-extra-font-style);
}

.add-cv .frame-19 {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .web-nhp-liu {
    display: inline-flex;
    height: 56px;
    align-items: center;
    gap: 12px;
    padding: 0px 16px 0px 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.add-cv .frame-20 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .flag-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    border-radius: 2px;
    overflow: hidden;
}

.add-cv .vn-vietnam {
    position: relative;
    width: 32px;
    height: 24px;
}

.add-cv .text-wrapper-9 {
    font-family: var(--body-6-regular-font-family);
    font-weight: var(--body-6-regular-font-weight);
    color: #929292;
    position: relative;
    width: fit-content;
    font-size: var(--body-6-regular-font-size);
    letter-spacing: var(--body-6-regular-letter-spacing);
    line-height: var(--body-6-regular-line-height);
    font-style: var(--body-6-regular-font-style);
}

.add-cv .icon-caretdown {
    position: relative;
    width: 18px;
    height: 18px;
}

.add-cv .frame-21 {
    height: 56px;
    justify-content: center;
    padding: 20px 16px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.add-cv .web {
    display: flex;
    flex-direction: column;
    height: 56px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 6px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #eaeaea;
}

.add-cv .frame-22 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .web-icon-chevron {
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(./img/chevron-down.svg);
    background-size: 100% 100%;
}

.add-cv .frame-23 {
    display: flex;
    flex-direction: column;
    width: 770px;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-24 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .frame-25 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .web-2 {
    display: flex;
    flex-direction: column;
    height: 56px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 6px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #eaeaea;
}

.add-cv .web-nhp-liu-2 {
    display: flex;
    flex-direction: column;
    height: 56px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 6px 24px 6px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    border: 1px solid;
    border-color: #eaeaea;
}

.add-cv .chung-c-c-u-gi-y-wrapper {
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .frame-26 {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
    position: absolute;
    top: 500px;
    left: 935px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--light);
    box-shadow: 0px 4px 4px #00000040;
}

.add-cv .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--subtitle-1-extra-font-family);
    font-weight: var(--subtitle-1-extra-font-weight);
    color: #000000;
    font-size: var(--subtitle-1-extra-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-1-extra-letter-spacing);
    line-height: var(--subtitle-1-extra-line-height);
    font-style: var(--subtitle-1-extra-font-style);
}

.add-cv .frame-27 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .profile-circle {
    position: relative;
    width: 120px;
    height: 120px;
}

.add-cv .frame-28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .frame-29 {
    display: flex;
    flex-direction: column;
    height: 56px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 20px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.add-cv .web-chn {
    display: flex;
    flex-direction: column;
    width: 338px;
    height: 56px;
    align-items: flex-start;
    gap: 10px;
    padding: 4px 6px;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 8px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.add-cv .frame-30 {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.add-cv .default {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-5-semibold-font-family);
    font-weight: var(--body-5-semibold-font-weight);
    color: #929292;
    font-size: var(--body-5-semibold-font-size);
    letter-spacing: var(--body-5-semibold-letter-spacing);
    line-height: var(--body-5-semibold-line-height);
    font-style: var(--body-5-semibold-font-style);
}

.add-cv .VN {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-5-semibold-font-family);
    font-weight: var(--body-5-semibold-font-weight);
    color: var(--black);
    font-size: var(--body-5-semibold-font-size);
    letter-spacing: var(--body-5-semibold-letter-spacing);
    line-height: var(--body-5-semibold-line-height);
    font-style: var(--body-5-semibold-font-style);
}

.add-cv .frame-31 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 1378px;
    left: 135px;
}

.add-cv .frame-32 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-33 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-34 {
    display: flex;
    flex-direction: column;
    width: 1170px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .line-3 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
}

.add-cv .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: var(--body-6-regu-font-family);
    font-weight: var(--body-6-regu-font-weight);
    color: var(--grey-dark);
    font-size: var(--body-6-regu-font-size);
    letter-spacing: var(--body-6-regu-letter-spacing);
    line-height: var(--body-6-regu-line-height);
    font-style: var(--body-6-regu-font-style);
}

.add-cv .frame-35 {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .text-wrapper-12 {
    position: relative;
    width: fit-content;
    font-family: var(--body-4-extra-font-family);
    font-weight: var(--body-4-extra-font-weight);
    color: var(--secon-1);
    font-size: var(--body-4-extra-font-size);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-style: var(--body-4-extra-font-style);
}

.add-cv .frame-36 {
    display: flex;
    width: 1170px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--light);
}

.add-cv .frame-37 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-4-extra-font-family);
    font-weight: var(--body-4-extra-font-weight);
    color: #000000;
    font-size: var(--body-4-extra-font-size);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-style: var(--body-4-extra-font-style);
}

.add-cv .text-wrapper-14 {
    position: relative;
    width: fit-content;
    font-family: var(--small-3-regu-font-family);
    font-weight: var(--small-3-regu-font-weight);
    color: #000000;
    font-size: var(--small-3-regu-font-size);
    letter-spacing: var(--small-3-regu-letter-spacing);
    line-height: var(--small-3-regu-line-height);
    font-style: var(--small-3-regu-font-style);
}

.add-cv .frame-38 {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-39 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 1904px;
    left: 135px;
}

.add-cv .frame-40 {
    display: flex;
    width: 682.5px;
    align-items: center;
    gap: 16px;
    position: relative;
}

.add-cv .image-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: var(--white);
}

.add-cv .image-2 {
    position: absolute;
    width: 94px;
    height: 40px;
    top: 30px;
    left: 3px;
    object-fit: cover;
}

.add-cv .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-family: var(--body-5-semi-font-family);
    font-weight: var(--body-5-semi-font-weight);
    color: #000000;
    font-size: var(--body-5-semi-font-size);
    letter-spacing: var(--body-5-semi-letter-spacing);
    line-height: var(--body-5-semi-line-height);
    font-style: var(--body-5-semi-font-style);
}

.add-cv .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: var(--small-3-regu-font-family);
    font-weight: var(--small-3-regu-font-weight);
    color: var(--grey-dark);
    font-size: var(--small-3-regu-font-size);
    letter-spacing: var(--small-3-regu-letter-spacing);
    line-height: var(--small-3-regu-line-height);
    font-style: var(--small-3-regu-font-style);
}

.add-cv .frame-41 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 1650px;
    left: 135px;
}

.add-cv .frame-42 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .frame-43 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px 9px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.add-cv .frame-44 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.add-cv .m-c-th-nh-th-o {
    position: relative;
    width: fit-content;
    font-family: "Mulish-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.add-cv .text-wrapper-17 {
    color: #929292;
    font-family: var(--small-6-regu-font-family);
    font-style: var(--small-6-regu-font-style);
    font-weight: var(--small-6-regu-font-weight);
    letter-spacing: var(--small-6-regu-letter-spacing);
    line-height: var(--small-6-regu-line-height);
    font-size: var(--small-6-regu-font-size);
}

.add-cv .text-wrapper-18 {
    font-family: var(--small-2-semi-font-family);
    font-weight: var(--small-2-semi-font-weight);
    color: #000000;
    font-size: var(--small-2-semi-font-size);
    font-style: var(--small-2-semi-font-style);
    letter-spacing: var(--small-2-semi-letter-spacing);
    line-height: var(--small-2-semi-line-height);
}

.add-cv .trash {
    position: relative;
    width: 16px;
    height: 16px;
}

.add-cv .frame-45 {
    display: flex;
    width: 570px;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 2190px;
    left: 435px;
}

.add-cv .frame-46 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 50px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--grey-light);
    border-radius: 8px;
}

.add-cv .text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-4-extra-font-family);
    font-weight: var(--body-4-extra-font-weight);
    color: var(--grey-balck);
    font-size: var(--body-4-extra-font-size);
    text-align: center;
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-style: var(--body-4-extra-font-style);
}

.add-cv .frame-47 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 50px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--secon-1);
    border-radius: 8px;
}

.add-cv .text-2 {
    margin-top: -1px;
    font-family: var(--body-4-extra-font-family);
    font-weight: var(--body-4-extra-font-weight);
    color: var(--white);
    text-align: center;
    position: relative;
    width: fit-content;
    font-size: var(--body-4-extra-font-size);
    letter-spacing: var(--body-4-extra-letter-spacing);
    line-height: var(--body-4-extra-line-height);
    font-style: var(--body-4-extra-font-style);
}


/* end add cv */

