img {
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
  /* HEADER */
  .w-100px {
    width: 80px;
    height: 24px;
  }
  .banner {
    margin-top: 65px;
    margin-bottom: 10px;
  }
  .header-pc {
    display: none !important;
  }
  .header-mobile {
    display: block !important;
  }
  .button-nav-header {
    border-radius: 8px;
    background: var(--White-Light, #F3F3F3);
    display: flex;
    width: 300px;
    padding: 10px 12px;
    align-items: center;
    color: var(--Grey-Balck, #424242);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  #offcanvasNavbarLabel {
    width: 33%;
  }
  .offcanvas-start {
    width: 85% !important;
  }
  /* END HEADER */
  /* FOOTER */
  footer {
    padding: 30px 16px;
  }
  footer aside {
    display: none;
  }
  footer .text-bottom {
    display: none !important;
  }
  footer .info-footer {
    display: block;
  }
  footer .info-tab {
    display: block !important;
  }
  footer .mt-4 {
    margin-top: 16px !important;
  }
  /* END FOOTER */
  /* WHAT FREE */
  .mobile-hidden {
    display: none !important;
  }
  #search-input {
    padding-left: 15%;
  }
  .button-black {
    padding: 6px 9px;
    font-size: 14px;
    margin-right: 5px !important;
  }
  .text-content-product {
    font-size: 16px;
  }
  .flea-text-gray {
    font-size: 14px;
  }
  .recruitment-details--title {
    font-size: 18px;
    padding: 16px;
    margin-top: 0;
  }
  .recruitment-details--content {
    margin: 0;
  }
  .flea-content-product {
    font-size: 16px;
  }
  .text-gray {
    font-size: 12px;
  }
  .ac-text_content {
    font-size: 18px;
  }
  .clinics-header a {
    font-size: 12px;
  }
  .header-right .account_control {
    font-size: 10px;
  }
  .navbar-toggler-icon {
    width: 24px;
    height: 24px;
  }
  .clinic-search--center .search-box {
    padding-left: 0;
  }
  .clinic-search--center .search-box i {
    left: 15px;
  }
  .name-product {
    font-size: 16px;
  }
  /* what free/campaign */
  .product-item {
    padding: 8px;
    margin-bottom: 16px;
  }
  .product-item .content-pro .name-product {
    font-size: 14px;
  }
  .product-item .content-pro .location-pro {
    font-size: 10px !important;
    margin: 3px 0;
  }
  .product-item .content-pro .price-pro {
    font-size: 18px !important;
  }
  .product-item .content-pro .edit-button .apply-bt {
    margin-top: 12px;
  }
  .rv_item .avt img {
    width: 32px;
    height: 32px;
  }
  .rv_item p {
    font-size: 16px;
    padding-left: 8px;
  }
  .rv_item .rv-header--right {
    align-content: center;
    height: 32px;
    display: flex;
  }
  .clinic-search {
    margin-bottom: 24px;
  }
  /* end what free/campaign */
  /* END WHAT FREE */
  .w-45 {
    width: 100%;
  }
  .edit-button {
    display: block;
  }
  /* CLINIC */
  .other-clinics .title {
    font-size: 18px;
    margin: 8px 0;
  }
  .clinic-item {
    border-radius: 8px;
    border: 1px solid var(--secon1, #45C3D2);
    background: var(--White, #FFF);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .clinic-item a {
    font-size: 16px;
  }
  .clinic-item .location {
    font-size: 14px;
  }
  .clinic-item .service {
    font-size: 14px;
  }
  .clinic-item .img-detail .img-item img {
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  }
  /* END CLINIC */
  /* FLEA MARKET */
  .container .mt-88 {
    margin-top: 32px;
  }
  .container .img-union {
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .container .col-md-9 .img-union {
    margin-top: 0;
  }
  .container .content-pro .name-pro a {
    font-size: 14px;
  }
  .container .recruitment-details {
    display: flex;
    padding: 0;
    margin-bottom: 16px;
  }
  .container .recruitment-details .list {
    height: 168px;
    overflow-y: auto;
    padding: 0;
  }
  .container .recruitment-details .item img {
    border-radius: 8px;
  }
  .container .recruitment-details .main {
    padding-left: 0;
  }
  .container .mt-110 {
    margin-top: 0;
  }
  .container .mo-ta {
    margin-top: 16px;
  }
  .container .mo-ta .list-mo-ta li {
    font-size: 14px;
  }
  .container .form-1 .flea-prise {
    font-size: 16px;
  }
  .container .form-1 .text-content-product {
    margin-top: 16px;
  }
  .container .form-1 p {
    margin-top: 16px;
  }
  /* END FLEA MARKET */
}
@media (min-width: 780px) {
  .container {
    min-width: 1440px;
  }
  .info-footer {
    display: flex;
  }
  .button-black {
    padding: 6px 16px;
    font-size: 16px;
  }
  .flea-content-product {
    font-size: 18px;
  }
  .text-gray {
    font-size: 18px;
  }
  .ac-text_content {
    font-size: 32px;
  }
  .clinics-header a {
    font-size: 18px;
  }
  .clinic-search--left {
    display: flex;
  }
  .name-product {
    font-size: 18px;
  }
  .w-45 {
    width: 45% !important;
  }
  .edit-button {
    display: flex;
  }
  .rv_item .avt img {
    width: 32px;
    height: 32px;
  }
  .rv_item p {
    font-size: 24px;
  }
  /* FLEA MARKET */
  .container .img-union {
    margin-bottom: 16px;
    margin-top: 45px;
  }
  .container .list {
    display: flex;
    overflow-x: auto;
    padding: 0;
  }
  .container .item {
    margin: 16px;
  }
  .container .item img {
    height: 80px;
    width: 140px;
    border-radius: 8px;
  }
  .container .form-1 p {
    margin-top: 24px;
  }
  /* END FLEA MARKET */
}

/*# sourceMappingURL=responsive-mobi.css.map */
