img {
    width: 100%;
}

@media (max-width: 480px) {

    .container {
        max-width: 480px;
        width: 100%;
        margin-top: 50px;
    }
    /* HEADER */
    .d-mb-flex {
        display: flex !important;
    }
    .w-100px {
        width: 80px;
        height: 24px;
    }
    .banner {
        margin-top: 65px;
        margin-bottom: 10px;
    }
    .header-pc {
        display: none !important;
    }
    .header-mobile {
        display: block !important;
    }
    .button-nav-header {
        border-radius: 8px;
        background: var(--White-Light, #F3F3F3);
        display: flex;
        width: 300px;
        padding: 10px 12px;
        align-items: center;
        color: var(--Grey-Balck, #424242);
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    #offcanvasNavbarLabel {
        width: 33%;
    }
    .offcanvas-start {
        width: 85% !important;
    }

    /* END HEADER */

    /* FOOTER */
    footer {
        padding: 30px 16px;

        aside {
            display: none;
        }

        .text-bottom {
            display: none !important;
        }

        .info-footer {
            display: block;
        }

        .info-tab {
            display: block !important;
        }

        .mt-4 {
            margin-top: 16px !important;
        }
    }
    /* END FOOTER */

    /* WHAT FREE */
    .mobile-hidden {
        display: none !important;
    }
    #search-input {
        padding-left: 15%;
    }
    .button-black {
        padding: 6px 9px;
        font-size: 14px;
        margin-right: 5px !important;
    }
    .text-content-product {
        font-size: 16px;
    }
    .flea-text-gray {
        font-size: 14px;
    }
    .recruitment-details--title {
        font-size: 18px;
        padding: 16px;
        margin-top: 0;
    }
    .recruitment-details--content {
        margin: 0;
    }
    .flea-content-product {
        font-size: 16px;
    }
    .text-gray {
        font-size: 12px;
    }
    .ac-text_content {
        font-size: 18px;
    }
    .clinics-header a {
        font-size: 12px;
    }
    .header-right .account_control {
        font-size: 10px;
    }
    .navbar-toggler-icon {
        width: 24px;
        height: 24px;
    }
    .clinic-search--center .search-box {
        padding-left: 0;
    }
    .clinic-search--center .search-box i {
        left: 15px;
    }
    .name-product {
        font-size: 16px;
    }

    /* what free/campaign */
    .product-item {
        padding: 8px;
        margin-bottom: 16px;

        .img-pro {
            height: 146px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .content-pro {
            .name-product {
                font-size: 14px;
            }

            .location-pro {
                font-size: 10px !important;
                margin: 3px 0;
            }

            .price-pro {
                font-size: 18px !important;
            }

            .edit-button {
                .apply-bt {
                    margin-top: 12px;
                }
            }
        }
    }
    .rv_item {
        .avt {
            img {
                width: 32px;
                height: 32px;
            }

        }

        p {
            font-size: 16px;
            padding-left: 8px;

        }

        .rv-header--right {
            align-content: center;
            height: 32px;
            display: flex;
        }
    }
    .clinic-search {
        margin-bottom: 24px;
    }
    /* end what free/campaign */

    /* END WHAT FREE */

    .w-45 {
        width: 100%;
    }
    .edit-button {
        display: block;
    }
    /* CLINIC */
    .other-clinics {
        .title {
            font-size: 18px;
            margin: 8px 0;
        }
    }
    .clinic-item {
        border-radius: 8px;
        border: 1px solid var(--secon1, #45C3D2);
        background: var(--White, #FFF);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        a {
            font-size: 16px;
        }

        .location {
            font-size: 14px;
        }

        .service {
            font-size: 14px;
        }

        .img-detail {
            .img-item img {
                border-radius: 8px;
            }
        }
    }
    /* END CLINIC */

    /* FLEA MARKET */
    .container {
        .mt-88 {
            margin-top: 32px;
        }

        .img-union {
            margin-bottom: 12px;
            margin-top: 12px;
        }

        .col-md-9 {
            .img-union {
                margin-top: 0;
            }
        }

        .content-pro {
            .name-pro {
                a {
                    font-size: 14px;
                }
            }
        }

        .recruitment-details {
            display: flex;
            padding: 0;
            margin-bottom: 16px;

            .list {
                height: 100%;
                overflow-y: auto;
                padding: 0;
            }

            .item {
                img {
                    border-radius: 8px;
                }
            }

            .main {
                padding-left: 0;
                min-height: 180px;
            }

            .border-radius-1px {
                img {
                    width: auto;
                    height: auto;
                    max-height: 50px;
                    object-fit: cover;
                }
            }
        }

        .mt-110 {
            margin-top: 0;
        }

        .mo-ta {
            margin-top: 16px;

            .list-mo-ta {
                li {
                    font-size: 14px;
                }

            }
        }

        .form-1 {
            .flea-prise {
                font-size: 16px;
            }

            .text-content-product {
                margin-top: 16px;
            }

            p {
                margin-top: 16px;
            }
        }

        .font-10-mobi {
            font-size: 10px;
        }

        .font-12-mobi {
            font-size: 12px;
        }

        .font-14-mobi {
            font-size: 14px !important;
        }

        .font-16-mobi {
            font-size: 16px;
        }

        .font-18-mobi {
            font-size: 18px;
        }

        .location-info {
            margin-bottom: 8px;
        }

        .img-info {
            width: 68px;
            height: 68px;
        }

        .pc-hidden {
            .flea-button {
                font-size: 14px;
                width: 90px;
            }
        }

        .img-sell-product {
            width: 140px;
            height: 100px;
        }
    }
    .content-add {
        padding: 16px;
        margin-top: 0;

        .no-brand {
            font-size: 14px;
        }

        .text-wrapper-input input[type=radio] {
            height: 16px;
            width: 16px;
        }

    }
    .mb-42 {
        margin-top: 30px;
    }
    .main-header {
        height: 0;
    }
    .banner {
        height: 110px;
    }
}

/* END FLEA MARKET */


@media (max-width: 779px) {


}

@media (min-width: 780px) {
    .container {
        margin-top: 200px;
        //min-width: 1440px;
    }
    .pc-hidden {
        display: none !important;
    }
    .info-footer {
        display: flex;
    }
    .button-black {
        padding: 6px 16px;
        font-size: 16px;

    }
    .flea-content-product {
        font-size: 18px;
    }
    .text-gray {
        font-size: 18px;
    }
    .ac-text_content {
        font-size: 32px;
    }
    .clinics-header a {
        font-size: 18px;
    }
    .clinic-search--left {
        display: flex;
    }
    .name-product {
        font-size: 18px;
    }
    .w-45 {
        width: 45% !important;
    }
    .edit-button {
        display: flex;
    }
    .rv_item {
        .avt {
            img {
                width: 32px;
                height: 32px;
            }

        }

        p {
            font-size: 24px;
        }
    }

    /* FLEA MARKET */
    .container {
        .mt-88 {
        }

        .img-union {
            margin-bottom: 16px;
            //margin-top: 45px;
        }

        .recruitment-details {
            .border-radius-1px {
                img {
                    width: auto;
                    height: 383px;
                }
            }
        }

        .product-item {
            .img-pro {
                height: 237px;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .list {
            display: flex;
            overflow-x: auto;
            padding: 0;
        }

        .item-detail {
            width: 140px;
            height: 80px;

            img {
                width: auto;
                height: 100%;
            }
        }

        .mw-140px {
            max-width: 140px;
        }

        .item {
            flex: 0;
            //margin: 16px;
            img {
                width: 100%;
                border-radius: 8px;
            }
        }

        .form-1 {
            .flea-prise {
            }

            p {
                margin-top: 24px;
            }

        }

        .img-info {
            width: 148px;
        }

        .img-sell-product {
            width: 200px;
            height: 200px;
        }
    }
    .mt-45 {
        margin-top: 45px !important;
    }
    /* END FLEA MARKET */

}

