*{
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
}
.header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 29px 76px 29px 77px;
    gap: 54px;
    position: fixed;
    background: white;
    z-index: 10;
}
.header-left {
    width: 177px;
    height: 42px;
}
.header-center {
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
}

.header-center a {
    color: black;
    text-decoration: none;
}

.header-center a:hover {
    color: #45c3d2;
    text-decoration: none;
}
.header-right {
    gap: 8px;
}

.header-right a {
    color: #45c3d2;
}

.header-right .account_control{
    border: none;
    outline: none;
    background: white;
    font-weight: 800;
    font-size: 16px;
    color: #45c3d2;
}
.banner {
    height: 280px;
    margin-top: 116px;
    padding-left: 1px;
    background-color: grey;
}
.banner1{
    height: 280px;
    padding-left: 1px;
    background-color: grey;
}
.section1 {
    height: 647px;
    margin: 25px 0;
}
.section1__side {
    width: 161px;
    background-color: #d9d9d9;
}
.section1-main {
    width: calc(100vw - 320px - 40px);
}
.section1__item {
    flex: 1;
    width: 528px;
    height: 615px;
    margin: 16px;
    background-color: #f3f3f3;
    border-radius: 16px;
}
.section1_link {
    position: absolute;
    right: 20px;
    top: 30px;
    color: black;
}
.section1-content {
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content__item {
    padding: 10px;
    background-color: #ffff;
    border-radius: 16px;
}
.content__item p {
    color: #929292;

}
.content__item-link {
    color: #424242 !important;
    text-align: right;
    cursor: pointer;
}
.content__item__image {
    width: 173px;
    height: 137px;
    object-fit: cover;
    border-radius: 8px;
}
.content__item__describe{
    height: 45px;
    overflow: hidden;
}
.banner1{
    height: 280px;
    margin-top: 25px;
    padding-left: 1px;
    background-color: grey;
}
.nav-tabs .nav-item{

}
.nav-item{
    color: black;
    border-bottom: 2px solid transparent;
    transition: color 0.3s,
    border-bottom 0.3s;
}
.nav-item:focus {
    color: rgba(69, 195, 210, 1);
    border-bottom: 2px solid rgba(69, 195, 210, 1);
}
.content-item #address h2{
    font-size: 32px;
    font-weight: 800;
}
.content-item #address p{
    font-size: 18px;
    font-weight: 600;
    color: #929292;
}
/*Map*/
#map-location .content-item{
    justify-items: center;
    width: 1170px;
    height: 570px;
}
#map-location .content-item #address{
    width: 770px;
    height:502px;
}
#map-location .content-item #describe {
    width: 370px;
    height: 417px;
}
#map-location .content-item #describe .btn-visit{
    border: none;
    outline: none;
    width: 370px;
    height: 48px;
    padding: 14px 10px 14px 10px;
    border-radius: 8px;
    gap: 10px;
    background: #424242;
    color: white;
    font-weight: 600;
}
/*Recruitment*/
#recruitment .content-item{
    justify-items: center;
    width: 1170px;
    height: 570px;
}
#recruitment .content-item #address{
    width: 770px;
    height:502px;
}
#recruitment .content-item #describe {
    width: 370px;
    height: 498px;
}
.recruitment__item{
    width: 692px;
    height: 153px;
    padding: 8px;
    border-radius: 12px;
    border: 1px;
    gap: 12px;
}
/*Flea-market*/
#flea-market .content-item{
    justify-items: center;
    width: 1170px;
    height: 570px;
}
#flea-market .content-item #address{
    width: 770px;
    height:502px;
}
#flea-market .content-item #describe {
    width: 370px;
    height: 498px;
}
flea__item{
    width: 692px;
    height: 153px;
    padding: 8px;
    border-radius: 12px;
    border: 1px;
    gap: 12px;
}
#describe .describe-item h3{
    font-size: 24px;
    font-weight: 800;
}
#describe .describe-item p{
    font-size: 18px;
    font-weight: 600;
    color: #929292;
}
#myTab{
    display: flex;
    justify-content: center;
    gap: 99px;
}
.nav .nav-item .nav-link.active{
    background: #F3F3F3;
    color: #45C3D2;
    border-bottom: solid;
    font-size: 18px;
    font-weight: 800;
    border-radius: 0;
    width: 174px;
    height: 42px;
    text-align: center;

}
.nav .nav-item .nav-link{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.sign--up{
    display: flex;
    justify-content: center;
}
.sign--up a{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
    text-decoration: none;
}
.btn-see-all{
    border: none;
    outline: none;
    width: 370px;
    height: 48px;
    padding: 14px 10px 14px 10px;
    border-radius: 8px;
    gap: 10px;
    background: #424242;
    color: white;
    font-weight: 600;
}
/*doctor*/
#doctor-information{
    background: #F3F3F3;
    height: 1441px;
    justify-content: center;
    text-align: center;
}
#doctor-information #list-option .option-menu{
    width: 769px;
    height: 42px;
    margin-bottom: 16px;
}
#doctor-information #list-option .option-menu .nav{
    width: 769px;
    height: 42px;
}
#doctor-information #list-option .option-menu .nav .nav-item .nav-link.active{
    background: #F3F3F3;
    color: #45C3D2;
    border-bottom: solid;
    font-size: 18px;
    font-weight: 800;
    border-radius: 0;
    width: 174px;
    height: 42px;
    text-align: center;

}
/*online shopping*/
#item-information{
    background: #F3F3F3;
    height: 1441px;
    justify-content: center;
    text-align: center;
}
#item-information #list-option .option-menu{
    width: 769px;
    height: 42px;
    margin-bottom: 16px;
}
#item-information #list-option .option-menu .nav{
    width: 769px;
    height: 42px;
}
#item-information #list-option .option-menu .nav .nav-item .nav-link.active{
    background: #F3F3F3;
    color: #45C3D2;
    border-bottom: solid;
    font-size: 18px;
    font-weight: 800;
    border-radius: 0;
    width: 174px;
    height: 42px;
    text-align: center;

}

/* footer */
footer {
    z-index: 0;
    width: 100%;
    background-color: #424242;
    font: 0.75rem helvetica,sans-serif;
    color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    padding: 3rem 8%;
    height: 480px;

    & header {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: rgba(255,255,255,0.85);
        padding: 0 2rem;

        & h2 {
            position: relative;
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                transform: translate(-0.5rem,-0.25rem);
                width: 1rem;
                height: 1rem;
                background-color: rgb(86, 177, 187);
                z-index: -1;
            }
        }

        & p {
            font-style: italic;
            line-height: 1.8;
            color: rgba(255,255,255,0.5);
        }

        & .icon {
            font-size: 1.1rem;
            padding: 0.25rem 0.5rem 0.25rem 0;
            cursor: pointer;
            color: rgb(86, 177, 187);

            &:hover {
                animation: pulse 0.5s;
                color: rgba(255,255,255,0.5);
            }
        }
    }

    & aside {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        padding: 0 2rem;

        & ul {
            list-style-type: none;

            & li {
                padding: 0.5rem 0;
                cursor: pointer;

                &:hover:not(:first-of-type) {
                    animation: pulse 0.5s;
                    color: rgb(86, 177, 187);
                }
            }

            & li:first-of-type {
                color: rgba(255,255,255,0.85);
                cursor: default;
            }
        }
    }
}
/* end footer */
/*recruitment screen*/
#filter{
    width: 1170px;
    height: 48px;
    margin-top: 10px;
}

#filter button{
    width: 53px;
    height: 48px;
    border: snow;
    outline: none;
    color: white;
    background: black;
    border-radius: 10px;
}
.filter_search input{
    width: 467px;
    height: 48px;
    border: none;
    outline: none;
}
.filter_option {
    padding: 15px;
}
#search_position{
    border: none;
    outline: none;
}
#rank{
    width: 1173px;
    height: 60px;
    background: grey;
}
#rank .rank_title{
    position: relative;
}
#rank .rank_title img{
    position: absolute;
    top: 0;
}
#rank a{

}
.rank_title h2{
    position: absolute;
    left: 30px;
    top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
/*header_2*/
.nav_1 {
    width: 415px;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 58px;
    margin-left: 77px;
}
.nav_1 .navbar-brand{
    padding: 58px;

}
.nav_1 .navbar-brand h5{
    margin-left: 58px;
     color: #45C3D2;
 }
.nav_2{
    width: 320px;
    height: 22px;
}

.nav_2 a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.nav_2 a:hover{
    color: #45C3D2;
    text-decoration: underline;
}
.nav_3{
    width: 328px;
    height: 52px;
    margin-right: 77px;
}
.nav_3 .btn_option button{
    background: #45C3D2;
    color: white;
    width: 120px;
    height: 52px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-right: 24px;
}
.nav_3 .btn_user button{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    position: relative;
    border-radius: 100%;
    text-align: center;
}
.nav_3 .btn_user button img{
    position: absolute;
    top: 0;
    left: 0;
}
